<!-- sidebar -->
<div id="sidebar">

	<tabset>
		<!--	component library -->
	    <tab heading="Component Library">
		  	<ul class="list-group">
	  			<li ng-repeat="component in model.components | filter:componentFilter" class="list-group-item">
	  				<!-- <h6 class="list-group-item-heading text-muted">{{component.name}}</h6> -->
	  				<p ng-show="component.description" class="small">{{component.description}}</p>
	  				<component-preview component-definition="component" component-static="true" draggable drag-service="dragService" style="width:100%;height:30px"></component-preview>
	  			</li>
			</ul>
	    </tab>
	    <!-- 	debug window -->
	    <tab heading="Debug">
	    	<h6>Document JSON</h6>
	    	<pre class="pre-scrollable" style="font-size:.7em">{{model.document | json}}</pre>
	    	<button class='btn' ng-click="clearCanvas()">Clear Canvas</button>
	    </tab>
  	</tabset>
  	
</div>

<!-- canvas -->
<h5>New Layout</h5>
<div id="canvas" ng-class="{grid:model.showGrid}">

	<div ng-class="{minimized:dragService.dragModel.selection!=null}">
		<component-preview component-definition="model.page" component-static="false" drag-service="dragService" style="width:100%;height:100%"></component-preview>
	</div>
	
	<property-inspector ng-class="{maximized:dragService.dragModel.selection!=null}" drag-service="dragService" />
	
</div>

<!-- footer -->
<div class="navbar-footer navbar-fixed-bottom">
	<div class="container">
		<label><input type="checkbox" ng-model="model.showGrid"> Show grid</label>
		<label><input type="checkbox" ng-model="model.snapToGrid"> Snap to grid</label>
	</div>
</div>