<!-- sidebar -->
<div id="sidebar">

	<tabset>
		
		<!--	component library -->
	    <tab heading="Components" class="small">
	    	<div class="panel panel-default">
				<div class="panel-body">
			    	<accordion close-others="oneAtATime">
			    		<accordion-group heading="Basic Components" is-open="true">
			    			<accordion close-others="oneAtATime" ng-repeat="component in model.components | filter:componentFilter">
			    				<accordion-group heading="{{component.name}}" is-open="false" style="border-radius:0px">
			    					<p ng-show="component.description" class="small">{{component.description}}</p>
					  				<component-preview component-definition="component" component-static="true" draggable drag-service="dragService" style="height:30px"></component-preview>
					  			</accordion-group>
					  		</accordion>
						</accordion-group>
						<accordion-group heading="Modules"></accordion-group>
					</accordion>
				</div>
			</div>
			
	    </tab>
	    
	     <!-- 	settings -->
	    <tab heading="Settings" class="small">
	    	
	    	<div class="panel panel-default">
	    		<div class="panel-body">
		    		<accordion close-others="oneAtATime">
				    	<accordion-group heading="Grid" is-open="true">
				    		<accordion close-others="oneAtATime">
								<ul class="list-group">
									<li class="list-group-item"><label><input type="checkbox" ng-model="model.grid.visible"> Show</label></li>
									<li class="list-group-item"><label><input type="checkbox" ng-model="model.grid.snapTo"> Snap</label></li>
									<li class="list-group-item"><label class="inline-block">Gridline every</label> <input class="form-control input-sm inline-block" type="number" ng-model="model.grid.size" min="10" step="10" style="width:75px"> px</li>
									<li class="list-group-item"><label class="inline-block">Subdivisions</label> <input class="form-control input-sm inline-block" type="number" ng-model="model.grid.subdivisions" min="1" step="1" style="width:75px"></li>
									<li class="list-group-item"><label class="inline-block">Color</label> <input class="form-control input-sm inline-block" type="text" ng-model="model.grid.color" colorpicker style="width:75px"></li>
									<li class="list-group-item"><button class='btn btn-danger' ng-click="clearCanvas()">Clear Canvas</button></li>
								</ul>
							</accordion>
						</accordion-group>
					</accordion>
				</div>
			</div>
	    	
	    </tab>
	    
	    <!-- 	debug window -->
	    <tab heading="Debug" class="small">
	    	<h6>Document JSON</h6>
	    	<pre class="pre-scrollable" style="font-size:.7em">{{model.document | json}}</pre>
	    </tab>
	    
  	</tabset>
  	
</div>

<!-- canvas -->
<h5>New Layout</h5>
<div id="canvas" ng-class="{grid:model.showGrid}">

	<div ng-class="{minimized:dragService.dragModel.selection!=null}">
		
		<component-preview component-definition="model.page" component-static="false" drag-service="dragService"></component-preview>
		
		<svg preserveAspectRatio="none" ng-show="model.grid.visible">
			<defs>
				<pattern id="minorGrid" ng-attr-width="{{model.grid.size/model.grid.subdivisions}}" ng-attr-height="{{model.grid.size/model.grid.subdivisions}}" patternUnits="userSpaceOnUse">
					<path ng-attr-d="M {{model.grid.size/model.grid.subdivisions}} 0 L 0 0 0 {{model.grid.size/model.grid.subdivisions}}" fill="none" ng-attr-stroke="{{model.grid.color}}" stroke-width="1"/>
				</pattern>
		        <pattern id="majorGrid" ng-attr-width="{{model.grid.size}}" ng-attr-height="{{model.grid.size}}" patternUnits="userSpaceOnUse">
		            <path ng-attr-d="M {{model.grid.size}} 0 L 0 0 0 {{model.grid.size}}" fill="none" ng-attr-stroke="{{model.grid.color}}" stroke-width="2"></path>
		        </pattern>
		    </defs>
		    <rect fill="url(#minorGrid)" width="100%" height="100%"  y="0"></rect>
		    <rect fill="url(#majorGrid)" width="100%" height="100%"  y="0"></rect>
		</svg>
		
	</div>
	
	<property-inspector ng-class="{maximized:dragService.dragModel.selection!=null}" drag-service="dragService" />
	
</div>