<div style="padding:0px 30px;">
	<p>This is a proof-of-concept prototype for an application design program.</p>
	<p>Click <a ng-click="setLocation('/editor')">here</a> to go to <i>Design</i> mode, then drag components to the stage or onto a horizontal/vertical list.</p>
	<p>A few pointers:</p>
	<ul class="list">
		<li>Dashed borders turn black when they become a drop target</li>
		<li>You can drag components on the stage in and out of drop targets<br/>However, <strong>note that there is a bug causing items dropped on anything but lists to disappear</strong></li>
		<li>Images can be resized</li>
	</ul>
</div>