<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
<base href="/ehr-designer/"></base>
<!-- 	libraries -->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/jquery-ui.js"></script>
<script type="text/javascript" src="//code.angularjs.org/1.2.0-rc.3/angular.js"></script>
<script type="text/javascript" src="//code.angularjs.org/1.2.0-rc.3/angular-route.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
<script type="text/javascript" src="lib/ui-bootstrap/ui-bootstrap-custom-0.10.0.min.js"></script>
<script type="text/javascript" src="lib/ui-bootstrap/ui-bootstrap-custom-tpls-0.10.0.min.js"></script>
<script type="text/javascript" src="lib/angular-dragdrop.min.js"></script>
<!-- 		underscore -->
<script type="text/javascript" src="lib/underscore/underscore-min.js"></script>
<script type="text/javascript" src="lib/underscore/underscore.string.min.js"></script>
<!-- 	angular -->
<script type="text/javascript" src="app/app.js"></script>
<script type="text/javascript" src="app/controller/app.js"></script>
<script type="text/javascript" src="app/controller/property-inspector.js"></script>
<script type="text/javascript" src="app/directive/component-preview.js"></script>
<script type="text/javascript" src="app/directive/droppable.js"></script>
<script type="text/javascript" src="app/directive/draggable.js"></script>
<script type="text/javascript" src="app/directive/property-inspector.js"></script>
<script type="text/javascript" src="app/directive/resizable.js"></script>
<script type="text/javascript" src="app/service/data.js"></script>
<script type="text/javascript" src="app/service/drag.js"></script>
<script type="text/javascript" src="app/service/factory.js"></script>
<!-- 	styles -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
<link rel="stylesheet" href="css/ui-lightness/jquery-ui-1.10.3.custom.min.css">
<link rel="stylesheet" href="css/style.css">
</head>

<body ng-controller="AppCtrl" ng-init="init()">

	<nav class="navbar navbar-default" role="navigation">
	
		<div class="navbar-header">
			<a class="navbar-brand" href="#">{{model.title}}</a>
		</div>
		
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		    <ul class="nav navbar-nav">
				<li ng-repeat="link in model.navigation"><a ng-click="setLocation(link.url)">{{link.title}}</a></li>
			</ul>
		</div>
	</nav>
	
	<div ng-view></div>

</body>

</html>