/*-----------------------------------*/
  Used by node webshot for screenshotting
/*-----------------------------------*/
body { padding-top: 0px; }

.navbar, #header, .header { display:none }

#project-preview {
	position:absolute; 
}

.component-preview.root.previewing {
	border: none;
}