<div class='component-preview'>

	<!-- border -->
	<div class="outline" style="width:100%;height:100%">
	
		<div class='content' style="width:100%;height:100%">
			
			<div ng-if='instance.componentId=="ui_component"' ng-repeat="child in instance.children" style="width:100%;height:100%;position:absolute;">
				<component-preview ng-class="canvas.currentProject.content.style" component-instance='child' component-static="false" component-draggable="child.type!='template'" component-droppable drag-service='dragService' canvas='canvas'></component-preview>
			</div>
			
			<div ng-if='instance.componentId=="text"'>
				<span 
					class='target'
					style='text-wrap:none;white-space:nowrap;display:inline-block;'
					ng-style="
						{
							'color':instance.values.color,
							'font-size':instance.values['font-size'].size+instance.values['font-size'].unit,
							'margin-top':instance.values.margin.top+instance.values.margin.unit,
							'margin-right':instance.values.margin.right+instance.values.margin.unit,
							'margin-bottom':instance.values.margin.bottom+instance.values.margin.unit,
							'margin-left':instance.values.margin.left+instance.values.margin.unit,
							'padding-top':instance.values.padding.top+instance.values.padding.unit,
							'padding-right':instance.values.padding.right+instance.values.padding.unit,
							'padding-bottom':instance.values.padding.bottom+instance.values.padding.unit,
							'padding-left':instance.values.padding.left+instance.values.padding.unit,
							'pointer-events':canvas.previewing?'auto':'none',
							'font-weight':instance.values.bold?'bold':'normal',
							'font-style':instance.values['font-style']?instance.values['font-style']:'normal',
							'text-transform':instance.values['text-transform']?instance.values['text-transform']:'inherit',
						}">
					{{instance.datamap && instance.datamap.value ? instance.datamap.value : instance.values.text}}
				</span>
			</div>
			
			<div ng-if='instance.componentId=="paragraph"'
				resizable="instance.values" resizable-config="{handles:'e'}">
				<p 
					class='target'
					ng-style="
						{
							'color':instance.values.color,
							'font-size':instance.values['font-size'].size+instance.values['font-size'].unit,
							'font-weight':instance.values.bold?'bold':'normal',
							'font-style':instance.values['font-style']?instance.values['font-style']:'normal',
							'text-transform':instance.values['text-transform']?instance.values['text-transform']:'inherit',
							'margin-top':instance.values.margin.top+instance.values.margin.unit,
							'margin-right':instance.values.margin.right+instance.values.margin.unit,
							'margin-bottom':instance.values.margin.bottom+instance.values.margin.unit,
							'margin-left':instance.values.margin.left+instance.values.margin.unit,
							'padding-top':instance.values.padding.top+instance.values.padding.unit,
							'padding-right':instance.values.padding.right+instance.values.padding.unit,
							'padding-bottom':instance.values.padding.bottom+instance.values.padding.unit,
							'padding-left':instance.values.padding.left+instance.values.padding.unit,
							'pointer-events':canvas.previewing?'auto':'none',
							'width':instance.values.width
						}">
					{{instance.datamap && instance.datamap.value ? instance.datamap.value : instance.values.text}}
				</p>
			</div>
			
			<div ng-if='instance.componentId=="link"'>
				<a
					class='target' style='text-wrap:none;white-space:nowrap;display:inline-block;'
					ng-style="
						{
							'color':instance.values.color,
							'font-size':instance.values['font-size'].size+instance.values['font-size'].unit,
							'font-weight':instance.values.bold?'bold':'normal',
							'font-style':instance.values['font-style']?instance.values['font-style']:'normal',
							'text-transform':instance.values['text-transform']?instance.values['text-transform']:'inherit',
							'margin-top':instance.values.margin.top+instance.values.margin.unit,
							'margin-right':instance.values.margin.right+instance.values.margin.unit,
							'margin-bottom':instance.values.margin.bottom+instance.values.margin.unit,
							'margin-left':instance.values.margin.left+instance.values.margin.unit,
							'padding-top':instance.values.padding.top+instance.values.padding.unit,
							'padding-right':instance.values.padding.right+instance.values.padding.unit,
							'padding-bottom':instance.values.padding.bottom+instance.values.padding.unit,
							'padding-left':instance.values.padding.left+instance.values.padding.unit,
							'pointer-events':canvas.previewing?'auto':'none'
						}">
					{{instance.datamap && instance.datamap.value ? instance.datamap.value : instance.values.text}}
				</a>
			</div>
			
			<div ng-if='instance.componentId=="button"'>
				<button 
					class="btn btn-default target" 
					ng-class="
						{
							'text-left':instance.values.text-align=='left',
							'text-center':instance.values.text-align=='center',
							'text-right':instance.values.text-align=='right'
						}"
					ng-style="
						{
							'background-color':instance.values['background-color'],
							'border-color':instance.values['border-color'],
							'border-width':instance.values['border-width'].size+instance.values['border-width'].unit,
							'color':instance.values.color,
							'font-size':instance.values['font-size'].size+instance.values['font-size'].unit,
							'font-weight':instance.values.bold?'bold':'normal',
							'font-style':instance.values['font-style']?instance.values['font-style']:'normal',
							'text-transform':instance.values['text-transform']?instance.values['text-transform']:'inherit',
							'margin-top':instance.values.margin.top+instance.values.margin.unit,
							'margin-right':instance.values.margin.right+instance.values.margin.unit,
							'margin-bottom':instance.values.margin.bottom+instance.values.margin.unit,
							'margin-left':instance.values.margin.left+instance.values.margin.unit,
							'padding-top':instance.values.padding.top+instance.values.padding.unit,
							'padding-right':instance.values.padding.right+instance.values.padding.unit,
							'padding-bottom':instance.values.padding.bottom+instance.values.padding.unit,
							'padding-left':instance.values.padding.left+instance.values.padding.unit,
							'pointer-events':canvas.previewing?'auto':'none'
						}">
					<span class="glyphicon" ng-if="instance.values.src">
						<img ng-src='{{instance.values.src}}' style="height:14px;" />
					</span> 
					{{instance.datamap && instance.datamap.value ? instance.datamap.value : instance.values.text}}
				</button>
			</div>
			
			<div ng-if='instance.componentId=="buttonbar" || instance.componentId=="linkbar"' 
				class="btn-group">
				<button 
					ng-repeat="item in (instance.datamap && instance.datamap.value ? instance.datamap.value : instance.values.items)"
					class="btn target" 
					ng-class="
						{
							'text-left':instance.values.text-align=='left',
							'text-center':instance.values.text-align=='center',
							'text-right':instance.values.text-align=='right',
							'btn-default':instance.componentId=='buttonbar',
							'btn-link':instance.componentId=='linkbar'
						}"
					ng-style="
						{
							'background-color':instance.values['background-color'],
							'border-color':instance.values['border-color'],
							'border-width':instance.values['border-width'].size+instance.values['border-width'].unit,
							'color':instance.values.color,
							'font-size':instance.values['font-size'].size+instance.values['font-size'].unit,
							'font-weight':instance.values.bold?'bold':'normal',
							'font-style':instance.values['font-style']?instance.values['font-style']:'normal',
							'text-transform':instance.values['text-transform']?instance.values['text-transform']:'inherit',
							'margin-top':instance.values.margin.top+instance.values.margin.unit,
							'margin-right':instance.values.margin.right+instance.values.margin.unit,
							'margin-bottom':instance.values.margin.bottom+instance.values.margin.unit,
							'margin-left':instance.values.margin.left+instance.values.margin.unit,
							'padding-top':instance.values.padding.top+instance.values.padding.unit,
							'padding-right':instance.values.padding.right+instance.values.padding.unit,
							'padding-bottom':instance.values.padding.bottom+instance.values.padding.unit,
							'padding-left':instance.values.padding.left+instance.values.padding.unit,
							'pointer-events':canvas.previewing?'auto':'none'
						}">
					{{item.label}}
				</button>
			</div>
			
			<div ng-if='instance.componentId=="image"' 
				class='img' 
				resizable="instance.values">
				<img class='target' 
					ng-src='{{instance.datamap && instance.datamap.value ? instance.datamap.value : instance.values.src}}' 
					ng-style="
						{
							'background-color':instance.values['background-color'],
							'border-color':instance.values['border-color'],
							'border-width':instance.values['border-width'].size+instance.values['border-width'].unit,
							'color':instance.values.color,
							'margin-top':instance.values.margin.top+instance.values.margin.unit,
							'margin-right':instance.values.margin.right+instance.values.margin.unit,
							'margin-bottom':instance.values.margin.bottom+instance.values.margin.unit,
							'margin-left':instance.values.margin.left+instance.values.margin.unit,
							'padding-top':instance.values.padding.top+instance.values.padding.unit,
							'padding-right':instance.values.padding.right+instance.values.padding.unit,
							'padding-bottom':instance.values.padding.bottom+instance.values.padding.unit,
							'padding-left':instance.values.padding.left+instance.values.padding.unit,
							'pointer-events':canvas.previewing?'auto':'none',
							'width':instance.values.width,
							'height':instance.values.height
						}">
			</div>
			
			<select 
				ng-if='instance.componentId=="dropdown"'
				class="form-control target" 
				ng-model="instance[ instance.datamap && instance.datamap.value ? 'datamap' : 'values' ][ instance.datamap && instance.datamap.value ? 'value' : 'options' ][0].id" 
				ng-options="v.id as v.label for v in (instance.datamap && instance.datamap.value ? instance.datamap.value : instance.values.options)"
				ng-style="
					{
						'background-color':instance.values['background-color'],
						'border-color':instance.values['border-color'],
						'border-width':instance.values['border-width'].size+instance.values['border-width'].unit,
						'color':instance.values.color,
						'font-size':instance.values['font-size'].size+instance.values['font-size'].unit,
						'margin-top':instance.values.margin.top+instance.values.margin.unit,
						'margin-right':instance.values.margin.right+instance.values.margin.unit,
						'margin-bottom':instance.values.margin.bottom+instance.values.margin.unit,
						'margin-left':instance.values.margin.left+instance.values.margin.unit,
						'pointer-events':canvas.previewing?'auto':'none'
					}"></select>
			
			<input 
				ng-if='instance.componentId=="dateinput" || instance.componentId=="telephoneinput"'
				class="form-control target" 
				type="{{instance.values.type}}" 
				placeholder="{{instance.values.placeholder}}" 
				value="{{!instance.values.placeholder ? instance.values.text : ''}}"
				ng-style="
					{
						'background-color':instance.values['background-color'],
						'border-color':instance.values['border-color'],
						'border-width':instance.values['border-width'].size+instance.values['border-width'].unit,
						'color':instance.values.color,
						'font-size':instance.values['font-size'].size+instance.values['font-size'].unit,
						'margin-top':instance.values.margin.top+instance.values.margin.unit,
						'margin-right':instance.values.margin.right+instance.values.margin.unit,
						'margin-bottom':instance.values.margin.bottom+instance.values.margin.unit,
						'margin-left':instance.values.margin.left+instance.values.margin.unit,
						'padding-top':instance.values.padding.top+instance.values.padding.unit,
						'padding-right':instance.values.padding.right+instance.values.padding.unit,
						'padding-bottom':instance.values.padding.bottom+instance.values.padding.unit,
						'padding-left':instance.values.padding.left+instance.values.padding.unit,
						'pointer-events':canvas.previewing?'auto':'none'
					}">
			
			<div 
				ng-if='instance.componentId=="textinput"' 
				resizable="instance.values" resizable-config="{handles:'e'}" 
				ng-style="
					{
						'margin-top':instance.values.margin.top+instance.values.margin.unit,
						'margin-right':instance.values.margin.right+instance.values.margin.unit,
						'margin-bottom':instance.values.margin.bottom+instance.values.margin.unit,
						'margin-left':instance.values.margin.left+instance.values.margin.unit
					}"
				class="resizable-container">
				<input 
					class="form-control target" 
					type="{{instance.values.type}}" 
					placeholder="{{instance.values.placeholder}}" 
					value="{{!instance.values.placeholder ? instance.values.text : ''}}"
					maxlength="{{instance.values.maxlength}}"
					ng-style="
						{
							'background-color':instance.values['background-color'],
							'border-color':instance.values['border-color'],
							'border-width':instance.values['border-width'].size+instance.values['border-width'].unit,
							'color':instance.values.color,
							'font-size':instance.values['font-size'].size+instance.values['font-size'].unit,
							'padding-top':instance.values.padding.top+instance.values.padding.unit,
							'padding-right':instance.values.padding.right+instance.values.padding.unit,
							'padding-bottom':instance.values.padding.bottom+instance.values.padding.unit,
							'padding-left':instance.values.padding.left+instance.values.padding.unit,
							'pointer-events':canvas.previewing?'auto':'none'
						}">
			</div>
			
			
			<div ng-if='instance.componentId=="textarea"' resizable="instance.values" resizable-config="{handles:'e,s'}">
				<textarea 
					class="form-control target" 
					placeholder="{{instance.values.placeholder}}"
					ng-style="
						{
							'background-color':instance.values['background-color'],
							'border-color':instance.values['border-color'],
							'border-width':instance.values['border-width'].size+instance.values['border-width'].unit,
							'color':instance.values.color,
							'font-size':instance.values['font-size'].size+instance.values['font-size'].unit,
							'margin-top':instance.values.margin.top+instance.values.margin.unit,
							'margin-right':instance.values.margin.right+instance.values.margin.unit,
							'margin-bottom':instance.values.margin.bottom+instance.values.margin.unit,
							'margin-left':instance.values.margin.left+instance.values.margin.unit,
							'padding-top':instance.values.padding.top+instance.values.padding.unit,
							'padding-right':instance.values.padding.right+instance.values.padding.unit,
							'padding-bottom':instance.values.padding.bottom+instance.values.padding.unit,
							'padding-left':instance.values.padding.left+instance.values.padding.unit,
							'pointer-events':canvas.previewing?'auto':'none'
						}" >{{!instance.values.placeholder ? instance.values.text : ''}}</textarea>
			</div>
			
			<ol 
				ng-if="instance.componentId=='list' && instance.values['liststyle']=='ordered'" 
				ng-class="{'list-inline':instance.values['direction']=='horizontal'}"
				ng-style="
					{
						'clear':'both',
						'list-style':'decimal outside'
					}">
				<li 
					ng-repeat="item in (instance.datamap && instance.datamap.value ? instance.datamap.value : instance.values.items)"
					ng-style="
					{
						'color':instance.values.color,
						'font-size':instance.values['font-size'].size+instance.values['font-size'].unit,
						'margin-top':instance.values.margin.top+instance.values.margin.unit,
						'margin-right':instance.values.margin.right+instance.values.margin.unit,
						'margin-bottom':instance.values.margin.bottom+instance.values.margin.unit,
						'margin-left':instance.values.margin.left+instance.values.margin.unit,
						'padding-top':instance.values.padding.top+instance.values.padding.unit,
						'padding-right':instance.values.padding.right+instance.values.padding.unit,
						'padding-bottom':instance.values.padding.bottom+instance.values.padding.unit,
						'padding-left':instance.values.padding.left+instance.values.padding.unit,
						'pointer-events':canvas.previewing?'auto':'none'
					}">{{item.label}}</li>
			</ol>
			
			<ul 
				ng-if="instance.componentId=='list' && instance.values['liststyle']!='ordered'" 
				ng-class="{'list-unstyled':instance.values['liststyle']=='none','list-inline':instance.values['direction']=='horizontal'}"
				ng-style="
					{
						'clear':'both',
						'list-style':instance.values['direction']=='horizontal'&&instance.values['liststyle']!='none'?'disc outside':'inherit'
						
					}">
				<li 
					ng-repeat="item in (instance.datamap && instance.datamap.value ? instance.datamap.value : instance.values.items)"
					ng-style="
					{
						'color':instance.values.color,
						'font-size':instance.values['font-size'].size+instance.values['font-size'].unit,
						'margin-top':instance.values.margin.top+instance.values.margin.unit,
						'margin-right':instance.values.margin.right+instance.values.margin.unit,
						'margin-bottom':instance.values.margin.bottom+instance.values.margin.unit,
						'margin-left':instance.values.margin.left+instance.values.margin.unit,
						'padding-top':instance.values.padding.top+instance.values.padding.unit,
						'padding-right':instance.values.padding.right+instance.values.padding.unit,
						'padding-bottom':instance.values.padding.bottom+instance.values.padding.unit,
						'padding-left':instance.values.padding.left+instance.values.padding.unit,
						'pointer-events':canvas.previewing?'auto':'none'
					}">{{item.label}}</li>
			</ul>
			
			<div 
				ng-if='instance.componentId=="checkbox" || instance.componentId=="radio"' 
				ng-style="
					{
						'margin-top':instance.values.margin.top+instance.values.margin.unit,
						'margin-right':instance.values.margin.right+instance.values.margin.unit,
						'margin-bottom':instance.values.margin.bottom+instance.values.margin.unit,
						'margin-left':instance.values.margin.left+instance.values.margin.unit
					}">
				<span 
					ng-repeat="item in (instance.datamap && instance.datamap.value ? instance.datamap.value : instance.values.options)"
					ng-style="
					{
						'color':instance.values.color,
						'font-size':instance.values['font-size'].size+instance.values['font-size'].unit,
						'display':instance.values['direction']=='horizontal'?'inline-block':'block',
						'padding-top':instance.values.padding.top+instance.values.padding.unit,
						'padding-right':instance.values.padding.right+instance.values.padding.unit,
						'padding-bottom':instance.values.padding.bottom+instance.values.padding.unit,
						'padding-left':instance.values.padding.left+instance.values.padding.unit,
						'pointer-events':canvas.previewing?'auto':'none'
					}">
					<input 
						class="target" 
						type="{{instance.values.type}}"
						name="radiogroup" 
						ng-checked="$first" 
						ng-value="item.id"> {{item.label}}</span>
			</div>
			
			<div ng-if='instance.componentId=="numberinput"'>
				<input 
					class="target" 
					ng-class="{'form-control':(instance.values.type!='range')}" 
					ng-style="
						{
							'background-color':instance.values['background-color'],
							'border-color':instance.values['border-color'],
							'border-width':instance.values['border-width'].size+instance.values['border-width'].unit,
							'color':instance.values.color,
							'font-size':instance.values['font-size'].size+instance.values['font-size'].unit,
							'margin-top':instance.values.margin.top+instance.values.margin.unit,
							'margin-right':instance.values.margin.right+instance.values.margin.unit,
							'margin-bottom':instance.values.margin.bottom+instance.values.margin.unit,
							'margin-left':instance.values.margin.left+instance.values.margin.unit,
							'padding-top':instance.values.padding.top+instance.values.padding.unit,
							'padding-right':instance.values.padding.right+instance.values.padding.unit,
							'padding-bottom':instance.values.padding.bottom+instance.values.padding.unit,
							'padding-left':instance.values.padding.left+instance.values.padding.unit,
							'pointer-events':canvas.previewing?'auto':'none'
						}"
					type="{{instance.values.type}}" 
					value="{{instance.values.value}}" 
					min="{{instance.values.min}}" 
					max="{{instance.values.max}}" 
					step="{{instance.values.step}}"> 
			</div>
			
			<div  
				ng-if='instance.componentId=="grid"' 
				ng-style="
					{
						'width': !isStatic && instance.isTemplate ? '100%' : 'auto',
						'height': !isStatic && instance.isTemplate ? '100%' : 'auto',
						'background-color': instance.values['background-color'],
						'border-style': instance.values['border-width'] && instance.values['border-width'].size > 0 ? 'solid' : 'none',
						'border-color': instance.values['border-color'],
						'border-width': instance.values['border-width'].size+instance.values['border-width'].unit
					}">
				<table 
					ng-style="
							{
								'width': instance.isTemplate && instance.values.width ? instance.values.width : 'inherit',
								'height': instance.isTemplate && instance.values.height ? instance.values.height : 'inherit',
								'margin-top':instance.values.margin.top+instance.values.margin.unit,
								'margin-right':instance.values.margin.right+instance.values.margin.unit,
								'margin-bottom':instance.values.margin.bottom+instance.values.margin.unit,
								'margin-left':instance.values.margin.left+instance.values.margin.unit
							}">
					<tr  
						ng-repeat="r in [] | range:instance.values.rows">
						 <td 
						 	ng-controller="CellCtrl" 
						 	ng-repeat="c in [] | range:instance.values.cols" 
						 	ng-init="init($parent.$index,$parent.$parent.$index,instance)" 
						 	ng-class="{border:cellsAreDroppable, droppable:isDroppable}" 
						 	ng-style="
							{
								'width':instance.values['cell-size'][cellIndex] && instance.values['cell-size'][cellIndex].width ? instance.values['cell-size'][cellIndex].width : false,
								'height':instance.values['cell-size'][cellIndex] && instance.values['cell-size'][cellIndex].height ? instance.values['cell-size'][cellIndex].height : false,
								'padding-top':((canvas.selection.instance==instance?5:0)+instance.values.padding.top)+instance.values.padding.unit,
								'padding-right':((canvas.selection.instance==instance?5:0)+instance.values.padding.right)+instance.values.padding.unit,
								'padding-bottom':((canvas.selection.instance==instance?5:0)+instance.values.padding.bottom)+instance.values.padding.unit,
								'padding-left':((canvas.selection.instance==instance?5:0)+instance.values.padding.left)+instance.values.padding.unit
							}" 
						 	resizable="instance.values['cell-size']" resizable-config="{handles:'e,s'}" resizable-cell="{cols:instance.values.cols,rows:instance.values.rows,index:cellIndex}"> 
						 	<div style="width:100%;height:100%"><div 
						 		style="position:relative;display:block" 
						 		ng-repeat="child in instance.children | filter: getCellChildren" 
						 		ng-style="
							 		{
							 			'text-align':child.values['horizontal-align'] || child.values['text-align'],
							 			'top':(child.values['vertical-align']=='middle'?'50%':(child.values['vertical-align']=='bottom'?'100%':'0%')),
							 			'transform':(child.values['vertical-align']=='middle'?'translateY(-50%)':(child.values['vertical-align']=='bottom'?'translateY(-100%)':false))
							 		}"><component-preview ng-class="canvas.currentProject.content.style" component-instance='child' component-static="false" component-draggable component-droppable drag-service='dragService' canvas='canvas'></component-preview></div></div>
						 </td>
					</tr>
				</table>
			</div>
			
			<div ng-if='instance.componentId=="table"'>
				<table 
					class="table table-condensed" 
					ng-class="{'table-bordered':instance.values.bordered}" 
					ng-style="
						{
							'background-color':instance.values['background-color'],
							'color':instance.values.color,
							'font-size':instance.values['font-size'].size+instance.values['font-size'].unit,
							'margin-top':instance.values.margin.top+instance.values.margin.unit,
							'margin-right':instance.values.margin.right+instance.values.margin.unit,
							'margin-bottom':instance.values.margin.bottom+instance.values.margin.unit,
							'margin-left':instance.values.margin.left+instance.values.margin.unit
						}">
					<thead 
						ng-show="instance.values.headers">
						<th ng-repeat="header in instance.values.headers">{{header.label}}</th>
					</thead>
					<tr 
						ng-repeat="r in [] | range:instance.values.rows" 
						ng-style="
						{
							'background-color':instance.values['header-background-color']
						}">
						 <td 
						 	ng-controller="CellCtrl" 
						 	ng-repeat="c in [] | range:instance.values.cols" 
						 	ng-init="init($parent.$index,$parent.$parent.$index,instance)" 
						 	ng-class="{droppable:isDroppable}" 
						 	ng-style="
							{
								'padding-top':instance.values.padding.top+instance.values.padding.unit,
								'padding-right':instance.values.padding.right+instance.values.padding.unit,
								'padding-bottom':instance.values.padding.bottom+instance.values.padding.unit,
								'padding-left':instance.values.padding.left+instance.values.padding.unit,
								'vertical-align': 'top'
							}"><div><div ng-repeat="child in instance.children | filter: getCellChildren" style="display:inline-block;position:relative"><component-preview ng-class="canvas.currentProject.content.style" component-instance='child' component-static="false" component-draggable component-droppable drag-service='dragService' canvas='canvas'></component-preview></div></div>
						 </td>
					</tr>
				</table>
			</div>
			
			<div ng-if='instance.componentId=="tabs"' ng-controller="TabCtrl">
				<tabset>
					<tab 
						ng-repeat="item in instance.values.tabs" ng-init="placeChild(item)" heading="{{item.label}}" 
						ng-style="
						{
							'background-color':tabs[$index].active ? instance.values['tab-background-color'] : instance.values['tab-disabled-background-color'],
							'color':instance.values.color,
							'font-size':instance.values['font-size'].size+instance.values['font-size'].unit
						}" 
						active="tabs[$index].active">
						<div 
							resizable="instance.values['cell-size']"
							resizable-config="{handles:'e,s'}" 
							resizable-cell="{cols:instance.values.tabs.length,rows:1,index:$index,tiled:false}"
							ng-style="
							{
								'width':  instance.values['cell-size'][$index] && instance.values['cell-size'][$index].width ? instance.values['cell-size'][$index].width : false,
								'height': instance.values['cell-size'][$index] && instance.values['cell-size'][$index].height ? instance.values['cell-size'][$index].height : false,
								'background-color':instance.values['background-color'],
								'margin-top':instance.values.margin.top+'px',
								'margin-right':instance.values.margin.right+'px',
								'margin-bottom':instance.values.margin.bottom+'px',
								'margin-left':instance.values.margin.left+'px',
								'padding-top':instance.values.padding.top+'px',
								'padding-right':instance.values.padding.right+'px',
								'padding-bottom':instance.values.padding.bottom+'px',
								'padding-left':instance.values.padding.left+'px'
							}"><component-preview ng-class="canvas.currentProject.content.style" component-instance="instance.children[$index]" component-droppable drag-service="dragService" canvas="canvas" ng-mouseover='dragService.onOver($event,definition,cellIndex)'></component-preview></div>
					</tab>
				</tabset>
			</div>
			
		</div>
		
	</div>
	
</div>