<div class='component-preview' ng-class='{static:isStatic}'>

	<!-- border -->
	<div ng-class='{border:showBorder, dropTarget:showBorder && dragService.dragModel.hover==definition, droppable:isDroppable}' ng-mouseenter='dragService.hover=definition'>
		
		<!-- inset showing component type (appears on rollover) -->
		<div class='inset' ng-show='!isStatic && dragService.hover==definition'>{{definition.cid}}</div>
		
		<div class='content'>
			
			<div ng-if='definition.cid=="horizontal_list"' ng-repeat="child in definition.children" resizable>
				<component-preview component-definition='child' component-static="false" draggable drag-service='dragService'></component-preview>
			</div>
			
			<div ng-if='definition.cid=="image"' class='img' resizable>
				<img class='target' ng-src='{{definition.values.src}}'>
			</div>
			
			<div ng-if='definition.cid=="label"' resizable>
				<span 
					class='target' 
					ng-style="{'padding-top':definition.values.padding.top+'px','padding-right':definition.values.padding.right+'px','padding-bottom':definition.values.padding.bottom+'px','padding-left':definition.values.padding.left+'px','font-size':definition.values['font-size'].size+definition.values['font-size'].unit}">
					{{definition.values.text ? definition.values.text : componentDefinition.name}}
				</span>
			</div>
			
			<div ng-if='definition.cid=="button"' resizable>
				<button 
					class="btn btn-default target" 
					ng-class="{'text-left':definition.values.text-align=='left','text-center':definition.values.text-align=='center','text-right':definition.values.text-align=='right'}"
					ng-style="{'padding-top':definition.values.padding.top+'px','padding-right':definition.values.padding.right+'px','padding-bottom':definition.values.padding.bottom+'px','padding-left':definition.values.padding.left+'px','font-size':definition.values['font-size'].size+definition.values['font-size'].unit}">
					{{definition.values.text ? definition.values.text : componentDefinition.name}}
				</button>
			</div>
			
			<div ng-if='definition.cid=="iconbutton"' resizable>
				<button 
					class="btn btn-default target"
					ng-class="{'text-left':definition.values.text-align=='left','text-center':definition.values.text-align=='center','text-right':definition.values.text-align=='right'}"
					ng-style="{'padding-top':definition.values.padding.top+'px','padding-right':definition.values.padding.right+'px','padding-bottom':definition.values.padding.bottom+'px','padding-left':definition.values.padding.left+'px','font-size':definition.values['font-size'].size+definition.values['font-size'].unit}">
					<span class="glyphicon">
						<img ng-src='{{definition.values.src}}' style="height:14px;" />
					</span> 
					{{definition.values.text ? definition.values.text : componentDefinition.name}}
				</button>
			</div>
			
			<div ng-if='definition.cid=="vertical_list"' ng-repeat="child in definition.children" resizable>
				<component-preview component-definition='child' component-static="false" draggable drag-service='dragService'></component-preview>
			</div>
			
			<div ng-if='definition.cid=="ui_component"' ng-repeat="child in definition.children" resizable>
				<component-preview component-definition='child' component-static="false" draggable drag-service='dragService'></component-preview>
			</div>
			
			<!-- form elements -->
			<div ng-if='definition.cid=="dropdown"' resizable>
				<select class="form-control target" ng-model="definition.values.items[0]" ng-options="v.label for v in definition.values.items"></select>
			</div>
			
			<div ng-if='definition.cid=="textinput"' resizable>
				<input class="form-control target" type="text" placeholder="{{definition.values.placeholder}}" value="{{definition.values.text}}">
			</div>
			
			<div ng-if='definition.cid=="checkbox"' resizable>
				<input type="checkbox" class="target" checked> {{definition.values.label}}
			</div>
			
			<div ng-if='definition.cid=="radio"' resizable>
				<input type="radio" class="target" checked> {{definition.values.label}}
			</div>
			
		</div>
		
	</div>
	
</div>