<div style="width:100%;height:100%;padding:20px;">
	
	<div ng-if="!currentProject" class="container-fluid" ng-init="find()">

		<div class="row">
		
			<div class="col-sm-6 col-md-4" ng-repeat="project in projects | orderBy:'updated':true">
			
				<div class="thumbnail">
				
					<a href="/browse/{{project._id}}"><img ng-src="{{project.thumbnail}}"></a>
				 
					<div class="caption">
						<h4><a href="/browse/{{project._id}}">{{project.content.name}}</a></h4>
						<h6 class="small text-muted">by {{project.creator.nameFirst}} {{project.creator.nameLast}}</h6>
						<div class="small text-muted">Updated on {{project.updated | date:'short'}}</div>
					</div>
					
				</div>
				
			</div>
		
		</div>
		
	</div>
	
	<div ng-if="currentProject" style="width:100%;height:100%;">
	
		<h3>{{currentProject.title}} <small>by {{currentProject.creator.nameFirst}} {{currentProject.creator.nameLast}}</small> <button ng-controller="NavigationCtrl" ng-click="setLocation('/browse/')" type="button" class="btn btn-link pull-right">Back</button></h3>
		<h5>Last updated on {{currentProject.updated | date:small}} at {{currentProject.updated | date:'shortTime'}}</h5>
		
		<div class="well well-sm">
		
			<form role="form">
				
				<div class="row">
														
					<div class="form-group col-sm-4">
						<select class="form-control input-sm" ng-options="page.name for page in currentProject.content.children" ng-model="currentPage"></select>
					</div>
				
				</div>
				
			</form>
			
		</div>
		
		<div id="project-preview" ng-if="currentProject">
			<component-preview component-instance="currentPage" preview="true" canvas="canvas"></component-preview>
		</div>
	
	</div>
	
		
</div>
