<div class="container-fluid editor-nav">

	<div class="row" ng-show="!canvas.previewing">
		
		<div class="col-sm-8">
		
			<ol class="breadcrumb pull-left">
				<li ng-class="{active:canvas.currentPage==null}" ng-show="canvas.currentProject">
					<span class="grey">Project:</span> <a ng-click="showPages()">{{canvas.currentProject.content.name}}</a>
				</li>
				<li ng-class="{active:true}" ng-show="canvas.currentPage">
					<img src='/images/icons/icon_page.png'/> {{canvas.currentPage.name}} ({{canvas.currentProject.content.children.indexOf(canvas.currentPage)+1}}/{{canvas.currentProject.content.children.length}})
				</li>
			</ol>
			
		</div>
		
		<div class="col-sm-4">
			
			<div class="pull-right"  ng-show="canvas.currentPage">
			
				<button type="button" class="btn btn-default btn-sm action action-button" ng-show="canvas.currentProject" ng-click="addPage(true,true)" ng-disabled="!canvas.currentProject">
					<span class="glyphicon glyphicon-plus grey"></span> Page
				</button>
				
				<button type="button" class="btn btn-default btn-sm action action-button" ng-show="canvas.currentProject" ng-click="saveProject()" ng-disabled="!canvas.currentProject || canvas.dirty===false">
					<span class="glyphicon glyphicon-flash" ng-show="canvas.dirty" tooltip-placement="left" tooltip="Your project needs to be saved!"></span> Save
				</button>
				
				<button type="button" class="btn btn-default btn-sm action action-button" ng-show="canvas.currentProject" ng-controller="CanvasCtrl" ng-click="previewProject()" ng-disabled="!canvas.currentPage">
					<img src="../images/icons/icon_preview.png"> Preview
				</button>
				
			</div>
			
		</div>
		
	</div>
	
	<div class="row" ng-show="canvas.previewing">
	
		<div class="pull-right" ng-show="canvas.previewing">
			<button type="button" class="btn btn-default btn-sm action" ng-show="canvas.currentProject" ng-click="canvas.previewing=false" ng-disabled="!canvas.currentProject">
				<img src="../images/icons/icon_preview.png"> Exit Preview
			</button>
		</div>
		
	</div>
	
</div>

		
<!-- sidebar -->
<div id="sidebar" ng-show="!canvas.previewing" property-inspector-minimizer ng-class="{minimized:!canvas.currentPage}">
	
	<div class="alert alert-warning alert-dismissable" ng-show="canvas.errors.length">
		<button type="button" class="close" aria-hidden="true" ng-click="canvas.errors = []">&times;</button>
		<ul class="list-unstyled">
			<li class="small" ng-repeat="error in canvas.errors">{{error}}</li>
		</ul>
	</div>
	
	<div class="alert alert-warning alert-dismissable" ng-show="canvas.messages.length">
		<button type="button" class="close" aria-hidden="true" ng-click="canvas.messages = []">&times;</button>
		<ul class="list-unstyled">
			<li class="small" ng-repeat="message in canvas.messages">{{message}}</li>
		</ul>
	</div>
	
	<tabset>
		
		<!--	component library -->
	    <tab heading="Library" class="small">
	    	<div class="panel panel-default">
				<div class="panel-body">
			    	<accordion class="library" close-others="oneAtATime">
			    		<accordion-group heading="EHR Components" is-open="true">
			    			<div class="list-group" >
     							<a ng-repeat="component in library.components | filter:{'category':'!'} | orderBy:'name'" class="list-group-item">
     								<component-preview component-instance="component" component-static="true" simple-render="true" component-draggable drag-service="dragService"></component-preview>
     							</a>
     						</div>
			    			<accordion class="library-category" close-others="oneAtATime" ng-repeat="category in library.componentsByCategory | orderBy:'name'">
			    				<accordion-group is-open="openTab" style="border-radius:0px">
			    					<accordion-heading>
            							{{category.name}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': openTab, 'glyphicon-chevron-right': !openTab}"></i>
        							</accordion-heading>
        							<div class="list-group">
        								<a ng-repeat="component in category.components track by component.id | filter:componentFilter | orderBy:'name'" class="list-group-item">
        									<component-preview component-instance="component" component-static="true" simple-render="true" component-draggable drag-service="dragService"></component-preview>
        								</a>
        							</div>
					  			</accordion-group>
					  		</accordion>
			    		</accordion-group>
			    		<accordion-group heading="UI Elements" is-open="true">
			    			<div class="list-group" >
     							<a ng-repeat="element in library.elements | filter:{'category':'!',abstract:'!'} | orderBy:'name'" class="list-group-item">
     								<component-preview component-instance="element" component-static="true" simple-render="true" component-draggable drag-service="dragService"></component-preview>
     							</a>
     						</div>
			    			<accordion class="library-category" close-others="oneAtATime" ng-repeat="category in library.elementsByCategory | orderBy:'name'">
			    				<accordion-group is-open="openTab" style="border-radius:0px">
			    					<accordion-heading>
            							{{category.name}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': openTab, 'glyphicon-chevron-right': !openTab}"></i>
        							</accordion-heading>
        							<div class="list-group">
        								<a ng-repeat="element in category.elements | filter:componentFilter | orderBy:'name'" class="list-group-item">
        									<component-preview component-instance="element" component-static="true" simple-render="true" component-draggable drag-service="dragService"></component-preview>
        								</a>
        							</div>
					  			</accordion-group>
					  		</accordion>
						</accordion-group>
					</accordion>
				</div>
			</div>
	    </tab>
	    
		<!-- 	settings -->
	    <tab heading="Settings" class="small">
	    	
	    	<div class="panel panel-default">
	    		<div class="panel-body">
	    			<accordion close-others="oneAtATime">
			    		<accordion-group heading="Template" is-open="false">
			    			<div class="list-group" ng-repeat="template in library.templates">
			    				<a ng-click="setTemplate(template)" class="list-group-item">
			    					<component-preview component-instance="template" component-static="true" style="width:100%;height:100px"></component-preview>
			    					<h4>{{template.name}}</h4>
			    				</a>
					  		</div>
						</accordion-group>
					</accordion>
					<accordion close-others="oneAtATime">
			    		<accordion-group heading="Style Theme" is-open="true">				
							<form role="form">
								<div class="form-group">
									<div>
										<label class="control-label" style="text-align:left">Select Style Theme</label>
										<select class="form-control"  ng-model="canvas.currentProject.content.style" ng-options="t.value as t.label for t in canvas.styleThemes" ng-change="canvas.dirty = true; applyTheme()"></select>
									</div>
								</div>
							</form>
						</accordion-group>
					</accordion>
		    		<accordion close-others="oneAtATime">
				    	<accordion-group heading="Grid" is-open="false">
				    		<accordion close-others="oneAtATime">
								<ul class="list-group">
									<li class="list-group-item"><label><input type="checkbox" ng-model="canvas.grid.visible"> Show</label></li>
									<li class="list-group-item"><label><input type="checkbox" ng-model="canvas.grid.snapTo"> Snap</label></li>
									<li class="list-group-item"><label class="inline-block">Gridline every</label> <input class="form-control input-sm inline-block" type="number" ng-model="canvas.grid.size" min="10" step="10" style="width:75px"> px</li>
									<li class="list-group-item"><label class="inline-block">Subdivisions</label> <input class="form-control input-sm inline-block" type="number" ng-model="canvas.grid.subdivisions" min="1" step="1" style="width:75px"></li>
									<li class="list-group-item"><label class="inline-block">Color</label> <input class="form-control input-sm inline-block" type="text" ng-model="canvas.grid.color" colorpicker style="width:75px"></li>
									<li class="list-group-item"><button class='btn btn-danger' ng-click="clearCanvas()">Clear Canvas</button></li>
								</ul>
							</accordion>
						</accordion-group>
					</accordion>
					<accordion close-others="oneAtATime">
			    		<accordion-group heading="Privacy" is-open="false">				
							<form role="form">
								<div class="form-group">
									<div>
										<label class="control-label" style="text-align:left"> This project is</label>
										<select class="form-control" ng-model="canvas.currentProject.sharing" ng-options="t.value as t.label for t in canvas.privacyOptions" ng-change="canvas.dirty = true"></select>
									</div>
									<span ng-show="canvas.currentProject.sharing=='private'" class="help-block small">This project will not appear under Browse</span>
									<span ng-show="canvas.currentProject.sharing=='public'" class="help-block small">This project will appear under Browse</span>
								</div>
							</form>
						</accordion-group>
					</accordion>
				</div>
			</div>
	    	
	    </tab>
	    
	    <tab heading="History" class="small" ng-controller="HistoryCtrl">
	    	
	    	<div class="panel panel-default">
	    		<div class="panel-body">
		    		<div id="history" class="list-group" ng-show="history.actions.length">
						<a class="list-group-item small" ng-repeat="action in history.actions track by $index | orderBy:date" ng-click="revert(action)" ng-class="{active:action==history.currentAction}" ng-disabled="action.id>history.currentAction.id" ng-bind-html="action.name"></a>
					</div>
					<span class="small text-muted" ng-show="!history.actions.length">No history to show</span>
				</div>
			</div>
	    	
	    </tab>
	    
	    <tab heading="Warnings" class="small" ng-controller="RulesCtrl" ng-init="find()">
	    	
	    	<div id="warnings" class="panel panel-default">
	    		<div class="panel-body">
	    			<span ng-show="!rules.warningsPending.length" class="text-muted">No warnings to show</span>
		    		<div class="list-group" ng-show="rules.warningsPending.length">
						<a class="list-group-item small list-group-item-warning warning" ng-repeat="warning in rules.warningsPending | orderBy:'date':true track by $index" design-warning="warning">
							<button type="button" class="close btn btn-xs" tooltip="Dismiss">
								<span aria-hidden="true" class="glyphicon glyphicon-remove-circle"></span>
							</button>
							<div>
								<strong ng-show="warning.message.title">{{warning.message.title}}</strong> 
								<div ng-show="warning.message.description" class="small">{{warning.message.description}}</div>
							</div>
							<button type="button" class="btn btn-xs btn-default resolve" ng-show="warning.rule.resolution" tooltip="{{warning.rule.resolution.summary}}" tooltip-placement="right">Resolve</button>
						</a>
					</div>
					<div ng-show="rules.warningsDismissed.length" class="dismissed">
						<div>
							<a ng-click="showingDismissed=!showingDismissed">Dismissed </a><i class="pull-right glyphicon text-muted" ng-class="{'glyphicon-chevron-down': showingDismissed, 'glyphicon-chevron-right': !showingDismissed}"></i>
						</div>
	    				<div class="list-group" collapse="!showingDismissed">
	    					<a class="list-group-item small warning" ng-repeat="warning in rules.warningsDismissed | orderBy:'date':true track by $index" design-warning="warning">
	    						<div>
	    							<strong ng-show="warning.message.title">{{warning.message.title}}</strong>
									<div ng-show="warning.message.description" class="small">{{warning.message.description}}</div>
	    						</div>
	    						<button type="button" class="btn btn-xs resolve" ng-show="warning.rule.resolution && warning.rule.resolution.actions" tooltip="{{warning.rule.resolution.summary}}" tooltip-placement="right">Resolve</button>
	    					</a>
	    				</div>
	    			</div>
				</div>
			</div>
	    	
	    </tab>
	    
	    <!-- 	debug window	-->
	    <tab heading="Debug" class="small" ng-if="DEBUG">
	    	
	    	<h6>Document JSON</h6>
	    	<pre class="pre-scrollable">{{canvas.currentProject | json}}</pre>
	    	
	    	<button class="btn btn-primary btn-md" ng-if="DEBUG" ng-show="canvas.selection" ng-click="exportSelectionDefinition()">Export</button>
	    	
	    </tab>
	     
  	</tabset>
  	
</div>

<!-- canvas -->
<div id="main" ng-init="init()" property-inspector-minimizer>

	<div ng-class="{minimized:canvas.selection!=null}">
	
		<!-- pages in project-->
		<div ng-if="canvas.currentProject && !canvas.currentPage">
			
			<div class="container-fluid" style="margin-top:20px">
			
				<div class="col-4 tile new">
				
					<div class="thumbnail">
						<img ng-click="addPage(true);" src="images/new-page.png">
					</div>
					
				</div>
				
				<div class="col-4 tile" ng-repeat="page in canvas.currentProject.content.children | filter : filterByTitle | orderBy : sortField : sort!='name'" ng-init="_index=canvas.currentProject.content.children.indexOf(page)">
					
					<div class="thumbnail">
						<a ng-click="setLocation('/editor/'+canvas.currentProject._id+'/'+(_index+1))"><img ng-src="{{canvas.currentProject.thumbnails[_index] || 'images/default/project.jpg'}}" src-fallback="images/default/project.jpg"></a>
					</div>
					
					<div class="actions">
					
						<div class="small pull-left">
							<span class="action">{{action}}</span>
						</div>
						
						<div class="small pull-right">
							<a ng-click="editPage(page)" ng-mouseover="action='Edit'" ng-mouseout="action=null"><img src="../images/icons/icon_cog.png"></a>
							<a ng-click="deletePage(page)" ng-mouseover="action='Delete'" ng-mouseout="action=null"><img src="../images/icons/icon_trash.png"></a>
							<a href="/browse/{{canvas.currentProject._id}}/{{_index+1}}" ng-mouseover="action='Preview'" ng-mouseout="action=null"><img src="../images/icons/icon_preview.png"></a>
						</div>
						
					</div>
					
					<div class="caption">
						
						<h4><a class="page-name" ng-click="setLocation('/editor/'+canvas.currentProject._id+'/'+(_index+1))">{{page.name}}</a></h4>
						
						<div class="footer">
							<div class="small text-muted" style="clear:both">Modified: {{page.updated | date:'short'}} | Created: {{page.created | date:'shortDate'}}</div>
						</div>
						 	
					</div>
					
				</div>
			
			</div>
			
		</div>
		
		<div id="canvas" ng-class="{grid:canvas.showGrid}" ng-show="canvas.currentPage">
			
			<!-- canvas -->
			<component-preview component-instance="canvas.currentPage" ng-class="canvas.currentProject.content.style" component-static="false" component-droppable drag-service="dragService" canvas="canvas" canvas-manager></component-preview>	
			
			<!-- canvas bg -->
			<svg preserveAspectRatio="none" ng-show="!canvas.previewing && canvas.grid.visible">
				<defs>
					<pattern id="minorGrid" ng-attr-width="{{canvas.grid.size/canvas.grid.subdivisions}}" ng-attr-height="{{canvas.grid.size/canvas.grid.subdivisions}}" patternUnits="userSpaceOnUse">
						<path ng-attr-d="M {{canvas.grid.size/canvas.grid.subdivisions}} 0 L 0 0 0 {{canvas.grid.size/canvas.grid.subdivisions}}" fill="none" ng-attr-stroke="{{canvas.grid.color}}" stroke-width="1"/>
					</pattern>
			        <pattern id="majorGrid" ng-attr-width="{{canvas.grid.size}}" ng-attr-height="{{canvas.grid.size}}" patternUnits="userSpaceOnUse">
			            <path ng-attr-d="M {{canvas.grid.size}} 0 L 0 0 0 {{canvas.grid.size}}" fill="none" ng-attr-stroke="{{canvas.grid.color}}" stroke-width="2"></path>
			        </pattern>
			    </defs>
			    <rect ng-attr-fill="url({{location.absUrl()}}#minorGrid)" width="100%" height="100%"  y="0"></rect>
			    <rect ng-attr-fill="url({{location.absUrl()}}#majorGrid)" width="100%" height="100%"  y="0"></rect>
			</svg>
			
		</div>
	
	</div>
	
	<property-inspector id="properties" ng-class="{maximized:!canvas.previewing && canvas.selection!=null}" drag-service="dragService" />
	
</div>
