<!-- sidebar -->
<div id="sidebar" ng-show="!canvas.previewing">
	
	<div class="alert alert-warning alert-dismissable" ng-show="canvas.errors.length">
		<button type="button" class="close" aria-hidden="true" ng-click="canvas.errors = []">&times;</button>
		<ul class="list-unstyled">
			<li class="small" ng-repeat="error in canvas.errors">{{error}}</li>
		</ul>
	</div>
	
	<div class="alert alert-warning alert-dismissable" ng-show="canvas.messages.length">
		<button type="button" class="close" aria-hidden="true" ng-click="canvas.messages = []">&times;</button>
		<ul class="list-unstyled">
			<li class="small" ng-repeat="message in canvas.messages">{{message}}</li>
		</ul>
	</div>
	
	<tabset>
		
		<!--	component library -->
	    <tab heading="Library" class="small">
	    	<div class="panel panel-default">
				<div class="panel-body">
			    	<accordion close-others="oneAtATime">
			    		<accordion-group heading="Basic Components" is-open="true">
			    			<accordion close-others="oneAtATime" ng-repeat="component in library.components | filter:componentFilter">
			    				<accordion-group heading="{{component.name}}" is-open="false" style="border-radius:0px">
			    					<p ng-show="component.description" class="small">{{component.description}}</p>
					  				<component-preview component-definition="component" component-static="true" draggable drag-service="dragService" style="height:30px"></component-preview>
					  			</accordion-group>
					  		</accordion>
						</accordion-group>
						<accordion-group heading="Modules"></accordion-group>
					</accordion>
				</div>
			</div>
			
	    </tab>
	    
		<!-- 	settings -->
	    <tab heading="Settings" class="small">
	    	
	    	<div class="panel panel-default">
	    		<div class="panel-body">
		    		<accordion close-others="oneAtATime">
				    	<accordion-group heading="Grid" is-open="true">
				    		<accordion close-others="oneAtATime">
								<ul class="list-group">
									<li class="list-group-item"><label><input type="checkbox" ng-model="canvas.grid.visible"> Show</label></li>
									<li class="list-group-item"><label><input type="checkbox" ng-model="canvas.grid.snapTo"> Snap</label></li>
									<li class="list-group-item"><label class="inline-block">Gridline every</label> <input class="form-control input-sm inline-block" type="number" ng-model="canvas.grid.size" min="10" step="10" style="width:75px"> px</li>
									<li class="list-group-item"><label class="inline-block">Subdivisions</label> <input class="form-control input-sm inline-block" type="number" ng-model="canvas.grid.subdivisions" min="1" step="1" style="width:75px"></li>
									<li class="list-group-item"><label class="inline-block">Color</label> <input class="form-control input-sm inline-block" type="text" ng-model="canvas.grid.color" colorpicker style="width:75px"></li>
									<li class="list-group-item"><button class='btn btn-danger' ng-click="clearCanvas()">Clear Canvas</button></li>
								</ul>
							</accordion>
						</accordion-group>
					</accordion>
				</div>
			</div>
	    	
	    </tab>
	    
	    <tab heading="History" class="small" ng-controller="HistoryCtrl">
	    	
	    	<div class="panel panel-default">
	    		<div class="panel-body">
		    		<div id="history" class="list-group" ng-show="history.actions.length">
						<a class="list-group-item small" ng-repeat="action in history.actions track by $index | orderBy:date" ng-click="revert(action)" ng-class="{active:action==history.currentAction}" ng-disabled="action.id>history.currentAction.id" ng-bind-html="action.name"></a>
					</div>
					<span class="small text-muted" ng-show="!history.actions.length">No history to show</span>
				</div>
			</div>
	    	
	    </tab>
	    
	    <!-- 	debug window -->
	    <tab heading="Debug" class="small" ng-if="DEBUG">
	    
	    	<h6>Document JSON</h6>
	    	<pre class="pre-scrollable">{{canvas.currentProject | json}}</pre>
	    	
	    	<button class="btn btn-primary btn-md" ng-if="DEBUG" ng-show="canvas.selection" ng-click="exportSelectionDefinition()">Export</button>
	    	
	    </tab>
	    
  	</tabset>
  	
</div>

<!-- canvas -->
<div id="main" ng-init="init()">

	<div ng-class="{minimized:canvas.selection!=null}">
	
		<div class="row clearfix" ng-show="!canvas.previewing">
		
			<div class="col-sm-8">
			
				<ol class="breadcrumb pull-left">
					<li ng-class="{active:canvas.currentSection==null}" ng-show="canvas.currentProject"><a ng-click="canvas.currentSection = null; canvas.currentPage = null">{{canvas.currentProject.content.name}}</a></li>
					<li ng-class="{active:canvas.currentPage==null}" ng-show="canvas.currentSection"><a ng-click="canvas.currentPage = null">{{canvas.currentSection.name}}</a></li>
					<li ng-class="{active:true}" ng-show="canvas.currentPage">{{canvas.currentPage.name}}</li>
				</ol>
				
				<a class="btn btn-link btn-nav text-muted small pull-left" ng-click="editCurrentItem()">Edit Properties</a>
				
			</div>
			
			<div class="col-sm-4">
				
				<div class="btn-group pull-right">
					<button class="btn btn-default btn-small" ng-show="canvas.currentProject" ng-click="addSection(true)"><span class="glyphicon glyphicon-plus" ng-disabled="!canvas.currentProject"> Section</button>
					<button class="btn btn-default btn-small" ng-show="canvas.currentSection" ng-click="addPage(true)" ng-disabled="!canvas.currentSection"><span class="glyphicon glyphicon-plus"> Page</button>
				</div>
				
			</div>
			
		</div>
		
		<!-- sections in document -->
		<div ng-if="canvas.currentProject && !canvas.currentSection">
			
			<div class="row alert alert-danger" ng-if="canvas.pendingSection!=null">
				
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="canvas.pendingSection=null">&times;</button>
				<strong>Really delete this section and all of its pages?</strong>
				<div class="btns">
					<button type="button" class="btn btn-default" ng-click="canvas.pendingSection=null">No</button> <button type="button" class="btn btn-danger" ng-click="deleteSection(canvas.pendingSection); canvas.pendingSection = null">Yes</button>
				</div>
				
			</div>
			
			<div class="well well-sm">
				
				<h4>Project Settings</h4>
				
				<form role="form" class="form-horizontal">
			
					<div class="form-group">
						<label class="col-sm-2 control-label" style="text-align:left">This project is</label>
						<div class="col-sm-4">
							
							<div>
								<select class="form-control" ng-model="canvas.currentProject.sharing" ng-options="t.value as t.label for t in canvas.privacyOptions"></select>
							</div>
							
							<span ng-show="canvas.currentProject.sharing=='private'" class="help-block">Only you will be able to see this project</span>
							<span ng-show="canvas.currentProject.sharing=='public'" class="help-block">Everyone be able to see this project</span>
							
						</div>
					</div>
					
				</form>
				
			</div>
			
			<div class="page thumb" ng-repeat="section in canvas.currentProject.content.children">
				<a ng-click="selectSection(section)">{{section.name}}</a>
				<a class="small" ng-click="canvas.pendingSection=section">Delete</a>
			</div>
			
		</div>
		
		<!-- pages in section-->
		<div ng-if="canvas.currentSection && !canvas.currentPage">
			<div class="alert alert-danger" ng-if="canvas.pendingPage!=null">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="canvas.pendingPage=null">&times;</button>
				<strong>Really delete this page?</strong>
				<div class="btns">
					<button type="button" class="btn btn-default" ng-click="canvas.pendingPage=null">No</button> <button type="button" class="btn btn-danger" ng-click="deletePage(canvas.pendingPage); canvas.pendingPage = null;">Yes</button>
				</div>
			</div>
			<div class="page thumb" ng-repeat="page in canvas.currentSection.children">
				<a ng-click="selectPage(page)">{{page.name}}</a>
				<a class="small" ng-click="canvas.pendingPage=page">Delete</a>
			</div>
		</div>
		
		<div id="canvas" ng-class="{grid:canvas.showGrid}" ng-show="canvas.currentPage">
			
			<!-- canvas -->
			<component-preview component-definition="canvas.currentPage" component-static="false" droppable drag-service="dragService" canvas="canvas"></component-preview>
			
			<!-- canvas bg -->
			<svg preserveAspectRatio="none" ng-show="!canvas.previewing && canvas.grid.visible">
				<defs>
					<pattern id="minorGrid" ng-attr-width="{{canvas.grid.size/canvas.grid.subdivisions}}" ng-attr-height="{{canvas.grid.size/canvas.grid.subdivisions}}" patternUnits="userSpaceOnUse">
						<path ng-attr-d="M {{canvas.grid.size/canvas.grid.subdivisions}} 0 L 0 0 0 {{canvas.grid.size/canvas.grid.subdivisions}}" fill="none" ng-attr-stroke="{{canvas.grid.color}}" stroke-width="1"/>
					</pattern>
			        <pattern id="majorGrid" ng-attr-width="{{canvas.grid.size}}" ng-attr-height="{{canvas.grid.size}}" patternUnits="userSpaceOnUse">
			            <path ng-attr-d="M {{canvas.grid.size}} 0 L 0 0 0 {{canvas.grid.size}}" fill="none" ng-attr-stroke="{{canvas.grid.color}}" stroke-width="2"></path>
			        </pattern>
			    </defs>
			    <rect ng-attr-fill="url({{location.absUrl()}}#minorGrid)" width="100%" height="100%"  y="0"></rect>
			    <rect ng-attr-fill="url({{location.absUrl()}}#majorGrid)" width="100%" height="100%"  y="0"></rect>
			</svg>
			
		</div>
	
	</div>
	
	<property-inspector id="properties" ng-class="{maximized:!canvas.previewing && canvas.selection!=null}" drag-service="dragService" />
	
</div>
