<div class="container" ng-init="find(true)" ng-controller="FilterCtrl">

	<h1 class="page-title">My Projects</h1>
	
	<div id="project-filters" ng-include src="'partials/templates/project-filter.html'"></div>
	
	<div class="container" style="clear:both;">
		
		<div class="row" ng-controller="CanvasCtrl">
			
			<div class="col-md-4 tile new">
				
				<div class="thumbnail">
					<img ng-click="newProject(true);location.path('/editor')" src="images/new-project.jpg">
				</div>
				
			</div>
			
			<div class="col-md-4 tile" ng-repeat="project in projects | filter : filterByTitle | orderBy : filter : filter!='content.name'">
				
				<div class="thumbnail">
					<a href="/editor/{{project._id}}"><img ng-src="{{project.thumbnail}}" src-fallback="images/default/project.jpg"></a>
				</div>
				
				<div class="caption">
					
					<h4>
						<a class="small pull-right" href="/browse/{{project._id}}" tooltip-placement="left" tooltip="PREVIEW"> <img src="../images/icons/icon_preview_25px.png" ></a>
						<a class="small pull-right" ng-click="deleteProject(project)"tooltip-placement="left" tooltip="DELETE"> <img src="../images/icons/icon_trash_25px.png" ></a>
 						<a class="project-name" href="/editor/{{project._id}}" class="pull-left">{{project.content.name}}</a>
						<a class="small pull-right" tooltip-placement="left" tooltip="PAGES IN PROJECT"><span class="badge text-primary">{{project.content.children.length}}</span></a>
					</h4>
					
					<div class="footer">
						<div class="small text-muted" style="clear:both">Modified: {{project.updated | date:'short'}} | Created: {{project.created | date:'short'}}</div>
					</div>
					
				</div>
				
			</div>
			
		</div>
	
	</div>
	
</div>
