<div class='component-preview' ng-class='{static:isStatic}'>

	<!-- border -->
	<div ng-class='{border:(showBorder && definition.cid!="grid"),active:(canvas.selection.instance==definition), dropTarget:(showBorder && definition.cid!="grid" && dragService.dragModel.hover==definition), droppable:isDroppable}' style="width:100%;height:100%">

		<div class='content' style="width:100%;height:100%">
			
			<div ng-if='definition.cid=="ui_component"' ng-repeat="child in definition.children" style="width:100%;height:100%;position:absolute;" ng-mouseenter='dragService.dragModel.hover=definition'>
				<component-preview component-definition='child' component-static="false" draggable drag-service='dragService' canvas='canvas'></component-preview>
			</div>
			
			<div ng-if='definition.cid=="text"' ng-mouseenter='dragService.dragModel.hover=definition'>
				<span 
					class='target' style='text-wrap:none;white-space:nowrap;display:inline-block;'
					ng-style="
						{
							'color':definition.values.color,
							'font-size':definition.values['font-size'].size+definition.values['font-size'].unit,
							'margin-top':definition.values.margin.top+'px',
							'margin-right':definition.values.margin.right+'px',
							'margin-bottom':definition.values.margin.bottom+'px',
							'margin-left':definition.values.margin.left+'px',
							'padding-top':definition.values.padding.top+'px',
							'padding-right':definition.values.padding.right+'px',
							'padding-bottom':definition.values.padding.bottom+'px',
							'padding-left':definition.values.padding.left+'px'
						}">
					{{definition.datamap && definition.datamap.value ? definition.datamap.value : definition.values.text}}
				</span>
			</div>
			
			<div ng-if='definition.cid=="button" || definition.cid=="iconbutton"' ng-mouseenter='dragService.dragModel.hover=definition'>
				<button 
					class="btn btn-default target" 
					ng-class="
						{
							'text-left':definition.values.text-align=='left',
							'text-center':definition.values.text-align=='center',
							'text-right':definition.values.text-align=='right'
						}"
					ng-style="
						{
							'background-color':definition.values['background-color'],
							'border-color':definition.values['border-color'],
							'border-width':definition.values['border-width'].size+definition.values['border-width'].unit,
							'color':definition.values.color,
							'font-size':definition.values['font-size'].size+definition.values['font-size'].unit,
							'margin-top':definition.values.margin.top+'px',
							'margin-right':definition.values.margin.right+'px',
							'margin-bottom':definition.values.margin.bottom+'px',
							'margin-left':definition.values.margin.left+'px',
							'padding-top':definition.values.padding.top+'px',
							'padding-right':definition.values.padding.right+'px',
							'padding-bottom':definition.values.padding.bottom+'px',
							'padding-left':definition.values.padding.left+'px'
						}">
					<span class="glyphicon" ng-if="definition.cid=='iconbutton'">
						<img ng-src='{{definition.values.src}}' style="height:14px;" />
					</span> 
					{{definition.datamap && definition.datamap.value ? definition.datamap.value : definition.values.text}}
				</button>
			</div>
			
			<div 
				ng-if='definition.cid=="image"' 
				class='img' 
				ng-mouseenter='dragService.dragModel.hover=definition' 
				ng-style="
					{
						'width': definition.values['width'],
						'height':definition.values['height']
					}" 
					resizable="definition.values">
				<img class='target' ng-src='{{definition.values.src}}' 
					ng-style="
						{
							'background-color':definition.values['background-color'],
							'border-color':definition.values['border-color'],
							'border-width':definition.values['border-width'].size+definition.values['border-width'].unit,
							'color':definition.values.color,
							'font-size':definition.values['font-size'].size+definition.values['font-size'].unit,
							'margin-top':definition.values.margin.top+'px',
							'margin-right':definition.values.margin.right+'px',
							'margin-bottom':definition.values.margin.bottom+'px',
							'margin-left':definition.values.margin.left+'px',
							'padding-top':definition.values.padding.top+'px',
							'padding-right':definition.values.padding.right+'px',
							'padding-bottom':definition.values.padding.bottom+'px',
							'padding-left':definition.values.padding.left+'px'
						}">
			</div>
			
			<div ng-if='definition.cid=="grid"' ng-mouseenter='dragService.dragModel.hover=definition'>
				<table>
					<tr ng-repeat="r in [] | range:definition.values.rows">
						 <td 
						 	ng-controller="CellCtrl" 
						 	ng-repeat="c in [] | range:definition.values.cols" 
						 	ng-init="init($parent.$index,$parent.$parent.$index,definition)" 
						 	ng-mouseover="onMouseEnter($event)" 
						 	ng-mouseout="dragService.dragModel.hoverIndex=null" 
						 	ng-class="{border:showBorder, dropTarget:(showBorder && definition && dragService.dragModel.hover.id==definition.id && dragService.dragModel.hoverIndex==cellIndex), droppable:isDroppable}" 
						 	ng-style="
							{
								'width':  definition.values['cell-size'][cellIndex] && definition.values['cell-size'][cellIndex].width ? definition.values['cell-size'][cellIndex].width : false,
								'height': definition.values['cell-size'][cellIndex] && definition.values['cell-size'][cellIndex].height ? definition.values['cell-size'][cellIndex].height : false
							}" 
						 	resizable="definition.values['cell-size'][cellIndex]"> 
						 	<div><div ng-repeat="child in definition.children | filter: getCellChildren"><component-preview component-definition='child' component-static="false" draggable drag-service='dragService' canvas='canvas'></component-preview></div></div>
						 </td>
					</tr>
				</table>
			</div>
			
			<div ng-if='definition.cid=="dropdown"'>
				<select 
					class="form-control target" 
					ng-model="definition[ definition.datamap && definition.datamap.value ? 'datamap' : 'values' ][ definition.datamap && definition.datamap.value ? 'value' : 'items' ][0].id" 
					ng-options="v.id as v.label for v in (definition.datamap && definition.datamap.value ? definition.datamap.value : definition.values.items)"
					ng-style="
						{
							'background-color':definition.values['background-color'],
							'border-color':definition.values['border-color'],
							'border-width':definition.values['border-width'].size+definition.values['border-width'].unit,
							'color':definition.values.color,
							'font-size':definition.values['font-size'].size+definition.values['font-size'].unit,
							'margin-top':definition.values.margin.top+'px',
							'margin-right':definition.values.margin.right+'px',
							'margin-bottom':definition.values.margin.bottom+'px',
							'margin-left':definition.values.margin.left+'px',
							'padding-top':definition.values.padding.top+'px',
							'padding-right':definition.values.padding.right+'px',
							'padding-bottom':definition.values.padding.bottom+'px',
							'padding-left':definition.values.padding.left+'px'
						}"></select>
			</div>
			
			<div ng-if='definition.cid=="date" || definition.cid=="datetime" || definition.cid=="email" || definition.cid=="month" || definition.cid=="search" || definition.cid=="tel" || definition.cid=="time" || definition.cid=="url" || definition.cid=="week"'>
				<input 
					class="form-control target" 
					type="{{definition.values.type}}" 
					placeholder="{{definition.values.placeholder}}" 
					value="{{!definition.values.placeholder ? definition.values.text : ''}}"
					ng-style="
						{
							'background-color':definition.values['background-color'],
							'border-color':definition.values['border-color'],
							'border-width':definition.values['border-width'].size+definition.values['border-width'].unit,
							'color':definition.values.color,
							'font-size':definition.values['font-size'].size+definition.values['font-size'].unit,
							'margin-top':definition.values.margin.top+'px',
							'margin-right':definition.values.margin.right+'px',
							'margin-bottom':definition.values.margin.bottom+'px',
							'margin-left':definition.values.margin.left+'px',
							'padding-top':definition.values.padding.top+'px',
							'padding-right':definition.values.padding.right+'px',
							'padding-bottom':definition.values.padding.bottom+'px',
							'padding-left':definition.values.padding.left+'px'
						}">
			</div>
			
			<div ng-if='definition.cid=="textinput"'>
				<input 
					class="form-control target" 
					type="{{definition.values.type}}" 
					placeholder="{{definition.values.placeholder}}" 
					value="{{!definition.values.placeholder ? definition.values.text : ''}}"
					maxlength="{{definition.values.maxlength}}"
					size="{{definition.values.size}}"
					ng-style="
						{
							'background-color':definition.values['background-color'],
							'border-color':definition.values['border-color'],
							'border-width':definition.values['border-width'].size+definition.values['border-width'].unit,
							'color':definition.values.color,
							'font-size':definition.values['font-size'].size+definition.values['font-size'].unit,
							'margin-top':definition.values.margin.top+'px',
							'margin-right':definition.values.margin.right+'px',
							'margin-bottom':definition.values.margin.bottom+'px',
							'margin-left':definition.values.margin.left+'px',
							'padding-top':definition.values.padding.top+'px',
							'padding-right':definition.values.padding.right+'px',
							'padding-bottom':definition.values.padding.bottom+'px',
							'padding-left':definition.values.padding.left+'px'
						}">
			</div>

			<div ng-if='definition.cid=="checkbox" || definition.cid=="radio"'>
				<span ng-repeat="item in (definition.datamap && definition.datamap.value ? definition.datamap.value : definition.values.items)"
						ng-style="
						{
							'color':definition.values.color,
							'font-size':definition.values['font-size'].size+definition.values['font-size'].unit
						}">
					<input 
						class="target" 
						type="{{definition.values.type}}"
						name="radiogroup" 
						ng-checked="$first" 
						ng-value="item.id"
						ng-style="
						{
							'background-color':definition.values['background-color'],
							'border-color':definition.values['border-color'],
							'border-width':definition.values['border-width'].size+definition.values['border-width'].unit,
							'margin-top':definition.values.margin.top+'px',
							'margin-right':definition.values.margin.right+'px',
							'margin-bottom':definition.values.margin.bottom+'px',
							'margin-left':definition.values.margin.left+'px',
							'padding-top':definition.values.padding.top+'px',
							'padding-right':definition.values.padding.right+'px',
							'padding-bottom':definition.values.padding.bottom+'px',
							'padding-left':definition.values.padding.left+'px'
						}"> {{item.label}}</span>
			</div>
			
			<div ng-if='definition.cid=="number" || definition.cid=="range"'>
				<input 
					class="target" 
					ng-class="{'form-control':(definition.cid!='range')}" 
					ng-style="
						{
							'background-color':definition.values['background-color'],
							'border-color':definition.values['border-color'],
							'border-width':definition.values['border-width'].size+definition.values['border-width'].unit,
							'color':definition.values.color,
							'font-size':definition.values['font-size'].size+definition.values['font-size'].unit,
							'margin-top':definition.values.margin.top+'px',
							'margin-right':definition.values.margin.right+'px',
							'margin-bottom':definition.values.margin.bottom+'px',
							'margin-left':definition.values.margin.left+'px',
							'padding-top':definition.values.padding.top+'px',
							'padding-right':definition.values.padding.right+'px',
							'padding-bottom':definition.values.padding.bottom+'px',
							'padding-left':definition.values.padding.left+'px'
						}"
					type="{{definition.values.type}}" 
					value="{{definition.values.value}}" 
					min="{{definition.values.min}}" 
					max="{{definition.values.max}}" 
					step="{{definition.values.step}}"> 
			</div>
			
		</div>
		
	</div>
	
</div>