<div class="panel panel-default" draggable>

	<div class="panel-heading">
		Property Inspector <button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="canvas.selection=null">&times;</button>
	</div>
  	
	<div class="panel-body">
  	
  		<div class="btn-group btn-group-justified" style="margin-bottom: 20px;">
			<div class="btn-group">
				<button type="button" class="btn btn-primary btn-sm" ng-click="restoreDefaults()"><span class="glyphicon glyphicon-refresh"></span> Restore Defaults</button>
			</div>
			<div class="btn-group">
				<button type="button" class="btn btn-danger btn-sm" confirm-dialog confirm-dialog-message="Really delete?" confirm-dialog-callback="deleteComponent" history-action="Deleted {{property.id}}"><span class="glyphicon glyphicon-remove"></span> Delete</button>
			</div>
		</div>
		
  		<form role="form" class="form-horizontal">
					
			<div class="form-group" ng-if="instance.componentId=='image'">
				<button type="button" class="btn btn-xs btn-link" ng-click="revertSize()" ng-disabled="instance.values.width==instance.values.origWidth && instance.values.height==instance.values.origHeight">Revert to original size ({{instance.values.origWidth}} x {{instance.values.origHeight}})</button>
			</div>
			
			<div ng-repeat="property in definition.properties | filter:{editable:'!'}">
		
				<div class="form-group">
					
					<label class="control-label col-sm-4 small">
					
						{{property.name}} 
						
						<div>
							<button type="button" class="btn btn-default btn-xs" ng-show="property.lockable" ng-class="{active:locked[property.id]===true}" ng-click="locked[property.id]=!locked[property.id]">
								<span class="glyphicon glyphicon-link"></span>
							</button>
						</div>
						
					</label>

					<div ng-switch="property.type">
						
						<div class="col-sm-8" ng-switch-when="string">
							<input class="form-control input-sm" type="text" ng-model="instance.values[property.id]" history-action history-action-property="property" history-action-component="component" ng-disabled="(property.id=='text' || property.id=='src') && (instance.datamap && instance.datamap.value)">
							<span class="text-muted small" ng-show="(property.id=='text' || property.id=='src') && (instance.datamap && instance.datamap.value)">Disabled due to data mapping</span>
							<div ng-show="property.id=='src' && !(instance.datamap && instance.datamap.value)">
								<button type="button" class="btn btn-link btn-xs" ng-click="selectMedia(instance.values,property)">Media Browser</button>
							</div>
						</div>
						
						<div class="col-sm-8" ng-switch-when="int">
							<input class="form-control input-sm" type="number" ng-model="instance.values[property.id]" min="{{property.min||0}}" history-action history-action-property="property" history-action-component="component">
						</div>
						
						<div class="col-sm-8" ng-switch-when="boolean">
							<input type="checkbox" ng-model="instance.values[property.id]" history-action history-action-property="property" history-action-component="component">
						</div>
						
						<div class="col-sm-8"  ng-switch-when="enum">
							<select class="form-control input-sm" ng-model="instance.values[property.id]" ng-options="t.value as t.label for t in property.values" history-action history-action-property="property" history-action-component="component"></select>
						</div>
						
						<div class="col-sm-8" ng-switch-when="color">
							<div class="row">
								<div class="col-sm-10">
									<input class="form-control input-sm" type="text" ng-model="instance.values[property.id]" colorpicker history-action history-action-property="property" history-action-component="component">
								</div>
								<div class="col-sm-2">
									<button type="button" class="close" ng-class="{active:instance.values[property.id]==='transparent'}" ng-click="setColorToTransparent(property)">&times;</button>
								</div>
							</div>
						</div>
						
						<div class="col-sm-8" ng-switch-when="array">
							
							<div class="row">
								<div ng-class="{'col-sm-10':propertyInspector.itemLabels[property.id],'col-sm-12':!propertyInspector.itemLabels[property.id]}">
									<input class="form-control input-md" type="text" ng-model="propertyInspector.itemLabels[property.id]" placeholder="Add new" ng-disabled="property.id=='items' && instance.datamap && instance.datamap.value">
									<span class="text-muted small" ng-show="property.id=='items' && instance.datamap && instance.datamap.value">Disabled due to data mapping</span>
								</div>
								<div class="col-sm-2" ng-show="propertyInspector.itemLabels[property.id]">
									<button type="button" class="close" ng-click="addArrayItem(property);">&#43;</button>
								</div>
							</div>
							
							<div ng-hide="property.id=='options' && instance.datamap && instance.datamap.value">
							
								<h6 class="text-muted">Existing Items:</h6>
							
								<div ui-sortable="{start:onSortableStart}" ng-model="instance.values[property.id]" style="height: 100%">
									
									<div class="row ui-draggable" ng-repeat="item in instance.values[property.id]">
										<div class="col-sm-10 text-muted small">
											<input class="form-control input-sm" type="text" ng-model="item.label">
										</div>
										<div class="col-sm-2">
											<button ng-show="!$first" type="button" class="close" ng-click="deleteArrayItem($event,property,$index);">&#45;</button>
										</div>
									</div>
								</div>
							
							</div>
							
						</div>
						
						<div class="col-sm-8"  ng-switch-when="object">
						
							<div class="row">
							
								<div class="col-xs-6" ng-repeat="subProperty in property.properties | filter:{editable:'!'}">
								
									<div ng-switch="subProperty.type">
									
										<div ng-switch-when="string">
											<label class="small text-muted" ng-show="subProperty.name">{{subProperty.name}}</label>
											<input class="form-control input-sm" type="text" ng-model="instance.values[property.id][subProperty.id]" history-action history-action-property="property" history-action-component="component">
										</div>
										
										<div ng-switch-when="int">
											<label class="small text-muted" ng-show="subProperty.name">{{subProperty.name}}</label>
											<input class="form-control input-sm" type="number" ng-model="instance.values[property.id][subProperty.id]" ng-change="propagateChange(property,subProperty,instance.values[property.id],instance.values[property.id][subProperty.id])" min="{{instance.values[property.id].min}}" history-action history-action-property="property" history-action-component="component">
										</div>
										
										<div ng-switch-when="enum">
											<label class="small text-muted" ng-show="subProperty.name">{{subProperty.name}}</label>
											<select class="form-control input-sm" ng-model="instance.values[property.id][subProperty.id]" ng-options="t.label as t.value for t in subProperty.values" history-action history-action-property="property" history-action-component="component"></select>
										</div>
									
									</div>
									
								</div>
							
							</div>
							
						</div>
					
					</div>
					
				</div>
				
			</div>
			
			<div ng-show="definition.binding">
				
				<label class="control-label col-sm-4 small">Bind to</label>
				
				<div class="col-sm-8" ng-show="definition.binding.dataType=='object'">
					
					<div class="row">
					
						<div class="col-sm-6">
							<select class="form-control input-sm" ng-model="instance.datamap.type_id" ng-options="t.id as t.label for t in [{id:undefined,label:'------'}].concat(library.sampleDataTypes) | filter:includeBindableDataType"></select>
						</div>
						
						<div class="col-sm-6">
							<select class="form-control input-sm" ng-model="instance.datamap.field_id" ng-options="t.id as t.label for t in [{id:undefined,label:'.______'}].concat(propertyInspector.selectedDataType.fields) | filter:includeBindableField" ng-show="propertyInspector.selectedDataType"></select>
						</div>
						
					</div>
					
					<div class="row" ng-show="propertyInspector.selectedDataType && propertyInspector.selectedDataTypeField">
					
						<div class="col-sm-12">
							<select class="form-control input-sm" ng-model="instance.datamap.data_id" ng-options="t.id as t.title for t in [{id:undefined,title:'------'}].concat(propertyInspector.selectedDataTypeData)" ng-show="propertyInspector.selectedDataTypeField"></select>
						</div>
						
					</div>
					
				</div>
				
				<div class="col-sm-8" ng-show="definition.binding.dataType=='list'">
					
					<div class="row">
					
						<div class="col-sm-12">
							<select class="form-control input-sm" ng-model="instance.datamap.data_id" ng-options="t.id as t.title for t in [{id:undefined,title:'------'}].concat(library.sampleData.bundle)  | filter : {'content.entry':'!null'}"></select>
						</div>
						
					</div>
					
				</div>
				
			</div>
			
		</form>
		
	</div>
		
</div>
