<div class="modal-header">
	<button type="button" class="close btn-lg" ng-click="cancel()" aria-hidden="true">&times;</button>
    <h4 class="modal-title">{{title}}</h4>
</div>

<div class="modal-body">
	<p ng-if="message" ng-bind-html="message"></p>
	<form name="form" role="form" ng-submit="save()">
		<div class="form-group">	
			<label ng-if="!message">Name</label>
			<input class="form-control input-lg" type="text" required ng-model="item.name">		
		</div>
		<button type="submit" class="btn btn-primary btn-lg">Submit</button>
		<button type="button" class="btn btn-default btn-lg" ng-click="cancel()">Cancel</button>
	</form>	
</div>

<div class="modal-footer">
</div>

