/*-----------------------------------*
	CONTENTS
 *-----------------------------------*/

/*
	FONTS
	
	MAIN
	
	EDITOR
	LOGIN/LOGOUT
	MY PROJECTS/BROWSE
	NAV
	UTILITY
	
	BOOTSTRAP OVERRIDES
*/

/*-----------------------------------*
	FONTS
 *-----------------------------------*/
@font-face {
	font-family: 'MyriadPro-Regular';
	src: url('fonts/MyriadPro-Regular/MyriadPro-Regular.eot?') format('eot'), 
	     url('fonts/MyriadPro-Regular/MyriadPro-Regular.otf')  format('opentype'),
	     url('fonts/MyriadPro-Regular/MyriadPro-Regular.woff') format('woff'), 
	     url('fonts/MyriadPro-Regular/MyriadPro-Regular.ttf')  format('truetype'),
	     url('fonts/MyriadPro-Regular/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
}

@font-face {
	font-family: 'MyriadPro-Semibold';
	src: url('fonts/MyriadPro-Semibold/MyriadPro-Semibold.eot?') format('eot'), 
	     url('fonts/MyriadPro-Semibold/MyriadPro-Semibold.otf')  format('opentype'),
	     url('fonts/MyriadPro-Semibold/MyriadPro-Semibold.woff') format('woff'), 
	     url('fonts/MyriadPro-Semibold/MyriadPro-Semibold.ttf')  format('truetype'),
	     url('fonts/MyriadPro-Semibold/MyriadPro-Semibold.svg#MyriadPro-Semibold') format('svg');
}

@font-face {
	font-family: 'SabonLTStd-Roman';
	src: url('fonts/SabonLTStd-Roman/SabonLTStd-Roman.eot?') format('eot'), 
	     url('fonts/SabonLTStd-Roman/SabonLTStd-Roman.otf')  format('opentype'),
	     url('fonts/SabonLTStd-Roman/SabonLTStd-Roman.woff') format('woff'), 
	     url('fonts/SabonLTStd-Roman/SabonLTStd-Roman.ttf')  format('truetype'),
	     url('fonts/SabonLTStd-Roman/SabonLTStd-Roman.svg#SabonLTStd-Roman') format('svg');
}

/*-----------------------------------*
	MAIN
 *-----------------------------------*/
html, body { 
	height: 100%; 
}

body { 
	padding-top: 70px; 
	font-family: 'MyriadPro-Regular'; 
}

pre { 
	font-size:.7em;
}

div[ng-view] { 
	height: 100%;
	min-height: 100%;
	position: relative;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

a[ng-click] { cursor: pointer; }

/*	EDITOR	*/
#sidebar { 
	width: 20%; 
	height: 100%; 
	background: rgba(255, 255, 255, .5); 
	padding: 10px; 
	float:left;
}

#properties { 
	position: fixed; 
	right: 10px; 
	top: 60px; 
	width: 300px; 
	display: none; 
	background: #fff; 
	z-index: 1; 
	-webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.75);
}

#properties .panel-body {
	max-height: 500px; 
	overflow: hidden; 
	overflow-y: scroll; 
}

#properties.maximized { display: block; }

#main { 
	width: 80%;
	height: 100%;
	float:left;
}

#canvas, #project-preview  { 
	width:1280px; 
	height: 1050px; 
	position: relative; 
	left: 0px;
}

#canvas > svg, #canvas > .component-preview,
#project-preview > svg, #project-preview > .component-preview { 
	position:absolute; 
	left:0px; 
	top: 0px; 
	width: 100%; 
	height: 100%;
}

#main > div:nth-child(1){ 
	width: 100%; 
	height: 100%; 
	position: relative; 
	float: left;
}

.ui-draggable {
	cursor: move;
}
.ui-draggable-dragging {
	pointer-events:none;
}
.ui-draggable-dragging.reject {
	color: #ff3300;
}

.component-preview {
	display:inline-block;
	position: relative;
	width: auto;
	height: auto;
}
.component-preview.root.previewing {
	border: solid 1px;
}
.component-preview.minimized { 
	width: 75%;
}
.component-preview > div {
	width:100%; 
	height:100%; 
	position: relative;
}
.component-preview:not(.previewing) > div.active { 
	box-shadow: 0px 0px 10px rgba(0, 0, 0, .5); 
	padding: 3px; 
	background-color: #fff;
}

.component-preview:not(.previewing) > div.active .target {
	background-color: #eee;
}

.component-preview > div > .content {
	position: relative; 
	top: 0px; 
	left: 0px; 
	z-index: 1;
}

.component-preview:not(.static) > div > .content > div.img { 
	width: auto; 
	height: auto;
}

.component-preview:not(.static) > div > .content div.img > img {
	width: 100%;
	height: 100%;
}

.component-preview.static > div > .content > div.img, .component-preview.static > div > .content div.img > img {
	height: 100%;
}

/*	ensures element returns a width	*/
.component-preview > div > .content:first-child { 
	display: inline-block;
}	
.component-preview.static { 
	width: auto;
}

.component-preview:not(.static).ng-data-drag.ui-draggable > div > .content > div:hover {
	background-color: #eee;
}

.dropTarget { border: dashed 1px rgba(0, 0, 0, 1) !important;  }

.grey {
    color: #CCCCCC;
}

.thumb {
	background: #eee;
	color: #333;
	float:left;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 10px;
	box-shadow: 2px 2px 1px #ccc;
}

.media-list { 
	overflow-x: scroll; 
	overflow-y: hidden; 
	height: 150px; 
	white-space: nowrap;
}

.media-list > .thumbnail { 
	display: inline-block;
	margin-right: 10px;
}

/*-----------------------------------*
	LOGIN/LOGOUT
 *-----------------------------------*/
h4.panel-title { 
	font-size: 12px;
}

/*-----------------------------------*
	MY PROJECTS/BROWSE
 *-----------------------------------*/
.project-name {
	font-family: 'SabonLTStd-Roman';
}

#header {
	margin-top: 20px; 
	margin-bottom: 50px; 
	text-align: center; 
	font-family: 'SabonLTStd-Roman'; 
	font-size: 1.2em; 
}

#header > h1, #header h2 { 
	font-size: 1em; 
	font-weight: normal; 
	margin: .5em;
}

#header > h1 { 
	color: #000000;
}

#header > h2 { 
	color: #808080;
}

#header > a {
	font-size: .8em;
}

#project-filters {
	height: 30px;
	margin-bottom: 40px;
}

#project-filters .form-control-feedback { 
	top: 0px;
}

#project-filters .btn-default {
	font-size: 0.8em;
	margin-right: 30px;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    0px 1px 5px 0px rgba(50, 50, 50, 0.5);
	box-shadow:         0px 1px 5px 0px rgba(50, 50, 50, 0.5);
	border-radius: 5px;
	outline: none;
	color: #998675;
}

#project-filters .btn-default.active {
	background-color: #fff !important;
	border: solid 1px #534741;
	color: #998675;
	-webkit-box-shadow: none;
	-moz-box-shadow:    none;
	box-shadow:         none;
}

#project-filters .btn-default:hover {
	color: #000000;
	background-color: #fff;
}

#project-filters input[type=text] {
	border-radius: 15px;
	padding: 6px 15px;
}

.tile {
	float: left;
}

.tile.col-4 {
	width: 180px;
	margin-right: 43px;
	margin-bottom: 48px;
}

.tile.col-3 {
	width: 204px;
	margin-right: 122px;
	margin-bottom: 62px;
}

.tile.col-3.new > .thumbnail > img {
	margin-top: 35px;
	margin-bottom: 35px;
	text-align: center;
}

.tile.col-4.new > .thumbnail > img {
	margin-top: 35px;
	margin-bottom: 35px;
	text-align: center;
}

.tile.new {
	-webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.75);
	border-radius: 5px;
	text-align: center;
	cursor: pointer;
}

.tile > .actions {
	height: 20px;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #fff;
	padding: 0px 5px 0px 0px;
}

.tile > .actions * {
	visibility: hidden;
}

.tile:hover > .actions * {
	visibility: visible;
}

.tile:hover > .actions > div:first-child {
	margin-top: 5px;
}

.tile:hover > .actions span.action {
	font-size: 1.1em;
	color: #999;
}

.tile.col-md-3  > .caption {
	margin-top: 18px;
}

.tile.col-md-4 > .caption {
	margin-top: 4px;
}

.tile > .caption {
	border-top: solid 4px #eee;
}

.tile:hover > .caption {
	border-top: solid 4px #E6F1F5;
}

.tile > .caption .badge {
  background-image: url('../images/icons/icon_page.png');
  background-repeat: no-repeat; 
  background-color: transparent;
  font-family: 'MyriadPro-Regular';
  font-size: 0.95em;
  font-weight: normal;
  color: #005aec;
  border-radius: 0px;
  text-align: center;
  min-height: 25px;
}

.tile > .thumbnail {
	margin-bottom: 5px;
}

.tile:not(.new) > .thumbnail {
	background: white;
	border-style: solid;
    border-color: #E6F1F5 #E6F1F5;
    border-top-width: 26px;
    border-bottom-width: 18px;
    width: 100%;
}

.tile > .caption {
	clear: both;
}

.tile > .caption a {
	color: #000;
}

.tile > .caption .project-name {
	font-size: 0.95em;
	color: #000;
}

.tile > .caption > .footer {
	font-size: 0.8em;
	color: #808080;
	font-family: 'SabonLTStd-Roman';
}

.tile > .caption .author {
	text-transform: uppercase;
}

/*-----------------------------------*
	NAV
 *-----------------------------------*/
.navbar {
	text-transform: uppercase;
	background: transparent top repeat-x url(../images/top-tile.png);
	padding-top: 8px;
}

.navbar-fixed-top,
.navbar-fixed-bottom {
	z-index: 1029;
}

.navbar-default { 
	background-color: #fff;
	border: none;
}

.navbar-default .navbar-nav > li > a {
	font-size: 0.8em;
	font-family: 'MyriadPro-Semibold';
	color: #998675;
}

.navbar-default .navbar-nav > li > a.active {
	color: #005aec;
}

.navbar-header .navbar-brand {
	font-family: 'SabonLTStd-Roman';
	color: #000;
}

.nav > li > a {
	padding: 15px 30px 10px 30px;
}

.nav { 
	margin-left: 45px;
}

#user-menu {
	margin-right: 15px;
	text-transform: uppercase;
}

#user-menu .username {
	font-family: 'SabonLTStd-Roman';
	text-transform: capitalize;
	color: #808080;
}

#user-menu .navbar-text {
	margin-left: 5px;
	margin-right: 5px;
}

#user-menu a {
	padding-left: 5px;
	padding-right: 5px;
}

span.action, a.action, .btn.action {
	text-transform: uppercase;
}

/*-----------------------------------*
	UTILITY
 *-----------------------------------*/
.border { 
	border: dashed 1px rgba(200, 200, 200, 1); 
	border-collapse:collapse;
}

.inline-block { 
	display: inline-block; 
}

.full-width { 
	width:100%;
	height:100%;
}

td > div:first-child:empty { 
	min-width: 20px; min-height: 20px;
}

#history .list-group-item.small {
	padding: 5px 10px;
}

#history .list-group-item:first-child {
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}

#history .list-group-item:last-child {
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

.alert div {
	margin-top: 20px;
}

.library > .panel-group > .panel > .panel-collapse > .panel-body { padding: 0px; }
.library-category .panel-default > .panel-heading { background-color: #fff; }
.library-category > .panel-group > .panel > .panel-collapse > .panel-body { padding: 0px; }
.library > .panel-group > .panel > .panel-collapse > .panel-body > .list-group, 
.library-category > .panel-group > .panel > .panel-collapse > .panel-body > .list-group { font-size: 12px; margin-bottom:0px; }
.library > .panel-group > .panel > .panel-collapse > .panel-body  > .list-group > .list-group-item, 
.library-category > .panel-group > .panel > .panel-collapse > .panel-body > .list-group > .list-group-item { padding: 10px 30px; border:0px; }

/*-----------------------------------*
	BOOTSTRAP OVERRIDES
 *-----------------------------------*/
.tooltip-inner {
	text-transform: uppercase;
}

.thumbnail { border: none; }

.panel-group { margin-bottom: 0px; }

.list-group > a[disabled] {
	color: #999999;
}

.list-group > a[disabled]:hover,
.list-group > a[disabled]:focus {
	color: #999999;
	text-decoration: none;
	background-color: transparent;
	cursor: not-allowed;
}

.breadcrumb>.active a {
	color: #999;
	text-decoration: none;
}

.tab-pane, .tab-pane > div > .component-preview {
	width: 100%;
	height: 100%;
}