html, body { height: 100%; }

pre { font-size:.7em }

div[ng-view] { height:100%;min-height:100%;position:relative; }
h4.panel-title { font-size: 12px; }

a[ng-click] { cursor: pointer; }

/*	workspace	*/
#sidebar { width: 20%; height: 100%; background: rgba(255, 255, 255, .5); padding: 10px; float:left }

#main { width: 80%; height: 100%; float:left; }

#canvas { width:100%; height: 100%; position:absolute; left:0px; top: 45px; }
#canvas > svg, #canvas > .component-preview { position:absolute; left:0px; top: 0px; width: 100%; height: 100% }

#main > div:nth-child(1){ width: 100%; height: 100%; position: relative; float: left; }
#main > div:nth-child(1).minimized { width: 75%; }
#main > div:nth-child(2) { display: none; width:0%; height: 100%; float: left; background: #fff; position: relative; }
#main > div:nth-child(2).maximized { display: block; width: 25%; }

.ui-draggable-dragging { pointer-events:none; }
.ui-draggable-dragging.reject { color: #ff3300; }

.component-preview { display:inline-block; position: relative; width: auto; height: auto; }
.component-preview.root.previewing { border: solid 1px; margin-left: 20px; }
.component-preview.minimized { width: 75%; }

.component-preview > div { width:100%; height:100%; position: relative; }
.component-preview:not(.previewing) > div.active { box-shadow: 0px 0px 10px rgba(0, 0, 0, .5); padding: 3px; background-color: #fff; }
.component-preview > div > .content { position: relative; top: 0px; left: 0px; z-index: 1; }
.component-preview:not(.static) > div > .content > div.img { width: auto; height: auto; }
.component-preview:not(.static) > div > .content div.img > img { width: 100%; height: 100%; }
.component-preview.static > div > .content > div.img, .component-preview.static > div > .content div.img > img { height: 100%; }

.component-preview > div > .content:first-child { display: inline-block; }	/*	ensures element returns a width	*/

.component-preview.static { width: auto; }

.component-preview:not(.static).ng-data-drag.ui-draggable > div > .content > div:hover { background-color: #eee; }

#project-preview {
	position:absolute;
	left:0px;
	top:180px;
	width:1000px;
	height:800px;
}

.dropTarget { border: dashed 2px rgba(0, 0, 0, 1) !important;  }

.thumb {
	background: #eee;
	color: #333;
	float:left;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 10px;
	box-shadow: 2px 2px 1px #ccc;
}

.page {
	width: 100px;
	height: 100px;
}

.project {
	width: 200px;
	height: 100px;
}

/*	utility	*/
.border { border: dashed 2px rgba(200, 200, 200, 1); border-collapse:collapse; }
.border-top { border-top: solid 1px; }
.border-right { border-right: solid 1px; }
.border-bottom { border-bottom: solid 1px; }
.border-left { border-left: solid 1px; }

.inline-block { display: inline-block; }

td > div:empty { min-width: 20px; min-height: 20px; }

input.document-title { border: none; width: auto; box-shadow: none; -webkit-box-shadow: none; }
span[contenteditable=true]:focus { border: solid 1px; border-radius: 5px; outline: none; padding: 5px 10px; }

#history .list-group-item.small {
	padding: 5px 10px;
}

#history .list-group-item:first-child {
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}

#history .list-group-item:last-child {
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

.alert div {
	margin-top: 20px;
}

/*	bootstrap overrides	*/
.panel-group { margin-bottom: 0px; }

.list-group > a[disabled] {
	color: #999999;
}
.list-group > a[disabled]:hover,
.list-group > a[disabled]:focus {
	color: #999999;
	text-decoration: none;
	background-color: transparent;
	cursor: not-allowed;
}

.breadcrumb>.active a {
	color: #999;
	text-decoration: none;
}

.tab-pane, .tab-pane > div > .component-preview {
	width: 100%;
	height: 100%;
}

/*	jqueryui overrides	*/
.ui-state-disabled
{
	opacity: 1;
}